:coffeescript
  window.mainPageTitle = "#{@conversation.title}"

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        secondary:
          label: 'Back'
          href: "#{preferences_path}"
          target: 'app'
    ShopifyApp.Bar.loadingOff()

.panel
  .panel-heading
    .row
      .col-sm-10
        %h3= "Chat with #{@conversation.title} on #{@conversation.created_at.localtime}"
      %center.col-sm-2
        .row
          %button.btn.btn-primary Download Transcript
        .row
          %a{href: '#'} Email Transcript
  .panel-body
    .row.pad-left
      %p= "Name: #{@conversation.title}"
      %p= "Email: #{@conversation.email}"
      %p= "IP: #{@conversation.location['ip']}"
    .row
      .hide.list-group
        - @conversation.messages.each do |m|
          - json = ActiveSupport::JSON.decode(m['message']['json'])
          .list-group-item
            .media
              .media-body
                %h4.media-heading= json['display_name']
                = json['text']

