.col-sm-6.col-sm-offset-3
  .panel
    %h2.panel-heading.text-center
      %b Reset your password
    .panel-body
      = form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: 'form', 'data-shopify-app-submit': 'login-form-message'} do |f|
        %h4.text-danger.text-center
          = devise_error_messages!
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password
          = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control'
        .form-group
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        .text-center
          = f.submit "Change my password", class: 'btn btn-lg btn-primary'
      = render "devise/shared/links"