%script{src: asset_url('kandy-chatbox-dashboard.js')}
%script{:src => '//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry'}
%script{:src => '//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js'}

:coffeescript
  window.mainPageTitle = 'Dashboard'
  window.kandyVideoCallEnabled = #{ENV['KANDY_VIDEO_CALL_ENABLED']}

  displayLoadingOverlay()

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      buttons:
        primary:
          label: 'Preferences'
          href: "#{preferences_url}"
          target: 'new'
        secondary: [
          {label: 'Kandy.IO', href: 'http://kandy.io/', target: 'new'}
          {label: 'Logout', message: 'logout-form-message'}
        ]

    KandyAPI.setup
      #remoteVideoContainer: $('.incoming-video')
      #localVideoContainer: $('.outgoing-video')
      listeners:
        message: handleEventListeners
        callinitiated: onCallInitiate
        callinitiatefailed: onCallInitiateFail
        oncall: onCall
        callended: onCallTerminate

        callincoming: onCallIncoming
        callanswered: onCallAnswer
        callrejected: onCallRejected

    KandyAPI.login "#{@shop.kandy_api_key}", "#{current_user.kandy_user.username}", "#{current_user.kandy_user.password}", (msg) ->
      loadAndStartChat('#{chat_load_url}')
    , (e) ->
      ShopifyApp.flashError("Error occurred while connecting to Kandy server. Press F5 to refresh.")
      console.log e

.row
  .col-sm-3.col-xs-12
    .row
      .panel.panel-default
        .panel-heading
          .pull-right
            %button#user-status-btn.btn.btn-xs.btn-warning.hide{'data-toggle': 'tooltip', 'data-placement': 'bottom'} Unavailable
          %i.fa.fa-comment
          Incoming Chats
        .panel-body
          .list-group#conversations-list
    .row
      .panel.panel-default
        .panel-heading
          %i.fa.fa-commenting
          Other Active Chats
        .panel-body
          .list-group#other-active-conversations-list
    .row
      .panel.panel-default
        .panel-heading
          %i.fa.fa-users
          Operators
        .panel-body
          .list-group#users-online-list

  .col-sm-9.col-xs-12
    .row#conversations-dashboard{style: 'display: none;'}
      .col-md-8
        .panel.panel-default
          .panel-body
            %ul#conversation-tabs.nav.nav-tabs{role: 'tablist'}
            .tab-content#conversation-tabs-content
      .col-md-4
        .row
          .panel.panel-default
            .panel-heading
              %i.fa.fa-info
              Details
            .panel-body
              .pad-left.pad-right
                #conversation-detail
        .row
          .panel.panel-default
            .panel-heading
              %i.fa.fa-history
              Chat history
            .panel-body
              #conversation-history
                .text-center
                  \...
        .row
          .panel.panel-default
            .panel-heading
              %i.fa.fa-location-arrow
              Location
            .panel-body
              #conversation-location{style: 'width: 100%; height: 250px'}
    .row#welcome-dashboard
      .panel-body
        %h3= "Hey #{current_user.display_name}"
= form_tag destroy_user_session_path, method: :delete, class: 'hide', 'data-shopify-app-submit': 'logout-form-message'