:coffeescript
  window.mainPageTitle = 'Preferences'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      buttons:
        primary:
          label: 'Save'
          message: 'save-preferences-form-message'
        secondary:
          label: 'Back'
          href: '/'
          target: 'app'
    ShopifyApp.Bar.loadingOff()

    $('#myTabs a').click (e) ->
      e.preventDefault()
      $(this).tab('show')

%ul#myTabs.nav.nav-tabs{role: 'tablist'}
  %li.active{role: 'presentation'}
    %a{href: '#api-keys', 'aria-controls': 'api-keys', role: 'tab', 'data-toggle': 'tab'} API Keys
  %li{role: 'presentation'}
    %a{href: '#sms', 'aria-controls': 'sms', role: 'tab', 'data-toggle': 'tab'} SMS Notification
  %li.dropdown{role: 'presentation'}
    %a.dropdown-toggle{href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false'}
      Chat settings
      %span.caret
    %ul.dropdown-menu
      %li
        %a{href: '#chat-transcripts', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Transcripts
      %li
        %a{href: '#chat-statistics', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Chat statistics
      %li
        %a{href: '#chat-box-customize', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Customize chat box
      %li
        %a{href: '#chat-team-manage', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Manage team
      %li
        %a{href: '#chat-canned-responses', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Canned responses
      %li
        %a{href: '#chat-misc', 'aria-controls': 'chat', role: 'tab', 'data-toggle': 'tab'} Misc settings
  %li{role: 'presentation'}
    %a{href: '#call', 'aria-controls': 'sms', role: 'tab', 'data-toggle': 'tab'} Call settings

= form_for @shop, url: '/preferences', method: :post, html: {'data-shopify-app-submit': 'save-preferences-form-message'} do |f|
  .tab-content
    #api-keys.tab-pane.jumbotron.active{role: 'tabpanel'}
      = f.hidden_field :id
      .row
        .col-sm-3
          %h5 Kandy Domain Key
          %span.help-block
            If you haven’t already registered with your app with Kandy, you should
            %a{href: 'https://developer.kandy.io/'} register
            with Kandy to start
        .col-sm-9.panel
          .panel-body
            .form-group
              = label_tag :kandy_api_key, 'Domain Key'
              %abbr{title: 'required'} *
              = f.text_field :kandy_api_key, class: 'form-control input-sm'
            .form-group
              = label_tag :kandy_api_secret, 'Domain Secret Key'
              %abbr{title: 'required'} *
              = f.text_field :kandy_api_secret, class: 'form-control input-sm'
      .row
        .col-sm-3
          %h5 Account
        .col-sm-9.panel
          .panel-body
            .form-group
              .pull-right.help-block.hide
                %a{href: "#"} Test login
              = label_tag :kandy_username, 'Username'
              %abbr{title: 'required'} *
              = f.text_field :kandy_username, class: 'form-control input-sm'
            .form-group
              = label_tag :kandy_password, 'Password'
              %abbr{title: 'required'} *
              = f.password_field :kandy_password, class: 'form-control input-sm'
              .small.help-block We only save your token (not password). Leave blank for not change.
            .form-group.hide
              = label_tag :kandy_token, 'Access token'
              = f.text_field :kandy_token, class: 'form-control input-sm', readonly: ''
    #sms.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        .col-sm-3
          %h5 Phone number
        .col-sm-9.panel
          .panel-body
            .form-group
              = f.text_field :kandy_phone_number, class: 'form-control input-sm'
              .small.help-block Include country code
      .row
        .col-sm-3
          %h5 SMS templates
          %span.help-block
            %a{href: '#', onclick: "newModal('#{variables_url}', 'Template variables')"}
              %u View a list of variables you can use
        .col-sm-9.panel
          .panel-body
          = f.fields_for :template do |t|
            = t.hidden_field :id
            .row
              .col-sm-12
                .form-group
                  = label_tag :order_creation, 'Order creation (customer)'
                  = t.text_area :order_creation, class: 'form-control', rows: 5
            .row
              .col-sm-12
                .form-group
                  = label_tag :order_update, 'Order update (customer)'
                  = t.text_area :order_update, class: 'form-control', rows: 5
            .row
              .col-sm-12
                .form-group
                  = label_tag :order_payment, 'Order payment (owner)'
                  = t.text_area :order_payment, class: 'form-control', rows: 5
            .row
              .col-sm-12
                .form-group
                  = label_tag :customer_creation, 'Customer creation (owner)'
                  = t.text_area :customer_creation, class: 'form-control', rows: 5
    #chat-transcripts.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        %h3 Chat Transcripts
        .help-block See all current, past, and missed chats. You may have a lot, so search or filter in order to find what you're looking for.
      .row.hide
        .col-sm-7
          %input#input-transcripts-search.form-control.input-sm{type: 'text', placeholder: 'Search'}
        .col-sm-5
          .dropdown.pull-right
            %button.btn.btn-default.dropdown-toggle#transcript-action-dropdown{type: 'button', 'data-toggle': 'dropdown', 'aria-haspopup': 'true', 'aria-expanded': 'true'}
              Action
              %span.caret
            %ul.dropdown-menu{'aria-labelledby': 'transcript-action-dropdown'}
              %li
                %a{href: '#'} Delete
        %br/
      .row
        .panel
          .panel-body
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th Date
                  %th Chatbox
                  %th Operator
                  %th Visitor
                  %th Rating
                  %th Status
              %tbody
    #chat-statistics.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        %h3 Account Statistics
      .row
        .panel
          .panel-body
            %table.table.table-striped.table-hover
              %thead
                %tr
                  %th Operator
                  %th Today
                  %th Yesterday
                  %th All time
              %tbody
    #chat-box-customize.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        .col-sm-8
          %h3 Customize Your Chat Box
          .help-block Make as many as you want. Customize how they look and what they say.
        .col-sm-4
          .pull-right
            %button.btn.btn-lg.btn-success Add new chat box
    #chat-team-manage.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        .col-sm-8
          %h3 Manage Your Team
          .help-block Quickly add new members, see your whole team, or edit a team member.
        .col-sm-4
          .pull-right
            %button.btn.btn-lg.btn-success Invite new member
    #chat-canned-responses.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        .col-sm-8
          %h3 Your Canned Responses
          .help-block When chatting with customers, you may find that you are repeating yourself. When you do, use canned responses.
        .col-sm-4
          .pull-right
            %button.btn.btn-lg.btn-success Add new canned responses
    #chat-misc.tab-pane.jumbotron{role: 'tabpanel'}
      .row
        .col-sm-8
          %h3 Misc settings
        .col-sm-4
    #call.tab-pane.jumbotron{role: 'tabpanel'}