:coffeescript
  window.mainPageTitle = 'API Keys'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        primary:
          label: 'Update'
          message: 'save-preferences-form-message'
        secondary:[
          label: 'Back', href: "#{preferences_path}", target: 'app'
        ]
    ShopifyApp.Bar.loadingOff()

= form_for @shop, url: preferences_path, method: :post, html: {'data-shopify-app-submit': 'save-preferences-form-message'} do |f|
  = f.hidden_field :id
  = hidden_field_tag :back_url, api_keys_path
  .row
    .col-sm-3
      %h5 Kandy Domain Key
      %span.help-block
        If you haven’t already registered with your app with Kandy, you should
        %a{href: 'https://developer.kandy.io/', target: '_blank'} register
        with Kandy to start.
      %span.help-block
        %b Notice:
        This action will re-sync all kandy users and you have to map from kandy users to operators again!
    .col-sm-9.panel
      .panel-body
        .form-group
          = f.label :kandy_api_key, 'Domain Key'
          %abbr{title: 'required'} *
          = f.text_field :kandy_api_key, class: 'form-control input-sm', placeholder: 'DAK24d0f137128846f8ba12204f3502****'
        .form-group
          = f.label :kandy_api_secret, 'Domain Secret Key'
          %abbr{title: 'required'} *
          = f.text_field :kandy_api_secret, class: 'form-control input-sm', placeholder: 'DAS7828b8cda2c04335923311b97284****'