:coffeescript
  window.mainPageTitle = 'Kandy Account'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        primary:
          label: 'Save'
          message: 'save-preferences-form-message'
        secondary:
          label: 'Back'
          href: "#{preferences_path}"
          target: 'app'
    ShopifyApp.Bar.loadingOff()

= form_for @shop, url: update_path, method: :post, html: {'data-shopify-app-submit': 'save-preferences-form-message'} do |f|
  = f.hidden_field :id
  = hidden_field_tag :back_url, kandy_account_path
  .row
    .col-sm-3
      %h5 Account
      %span.help-block
        If you haven’t already registered with your app with Kandy, you should
        %a{href: 'https://developer.kandy.io/'} register
        with Kandy to start
    .col-sm-9.panel
      .panel-body
        .form-group
          .pull-right.help-block.hide
            %a{href: '#'} Test login
          = f.label :kandy_username, 'Username'
          %abbr{title: 'required'} *
          = f.text_field :kandy_username, class: 'form-control input-sm', placeholder: 'username@domain.com'
        .form-group
          = f.label :kandy_password, 'Password'
          %abbr{title: 'required'} *
          = f.password_field :kandy_password, class: 'form-control input-sm', placeholder: 'password'
          .small.help-block Leave blank for not change.
        .form-group
          .pull-right.help-block.hide
            %a{href: '#'} Test login
          = f.label :kandy_username_guest, 'Username Guest'
          %abbr{title: 'required'} *
          = f.text_field :kandy_username_guest, class: 'form-control input-sm', placeholder: 'username@domain.com'
        .form-group
          = f.label :kandy_password_guest, 'Password Guest'
          %abbr{title: 'required'} *
          = f.password_field :kandy_password_guest, class: 'form-control input-sm', placeholder: 'password'
          .small.help-block Leave blank for not change.
        -#.form-group
          = label_tag :kandy_access_token, 'Your access token'
          = f.text_field :kandy_access_token, class: 'form-control input-sm', readonly: ''