:coffeescript
  window.mainPageTitle = 'Add New User'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        primary:
          label: 'Send an invitation'
          message: 'save-form-message'
        secondary:
          label: 'Back'
          href: "#{users_manage_path}"
          target: 'app'

= form_tag users_invite_path, method: :post, 'data-shopify-app-submit': 'save-form-message' do
  .row
    .col-sm-3
      %h5 Send invitation
    .col-sm-9.panel
      .panel-body
        .row.form-group
          .col-sm-12
            = label_tag :email, 'Email'
            %abbr{title: 'required'} *
            = email_field_tag :email, '', autofocus: true,  class: 'form-control input-sm'
        .row.form-group
          .col-sm-6
            = label_tag :first_name, 'First name'
            = text_field_tag :first_name, nil, class: 'form-control'
          .col-sm-6
            = label_tag :last_name, 'Last name'
            = text_field_tag :last_name, nil, class: 'form-control'
        .row.form-group
          .col-sm-12
            = label_tag :kandy_user_id, 'Kandy user'
            = select_tag :kandy_user_id, options_from_collection_for_select(@kandy_users, :id, :username), {class: 'select2 form-control'}