#= require kandy.min

class window.KCWidget
  _self = undefined

  KANDY_SHOPIFY_CHAT_ID = 'kandy_shopify_chat_id'

  constructor: (options) ->
    _self = @
    {@domain, @operator, @visitor, @config} = options
    _self.chatData = {message: []}
    _self.isSendRequest = true

    _self.flagStartChat = false
    _self.flagInChat = false
    _self.flagCloseChat = false
    _self.flagNoOperator = false
    _self.flagNoOperatorSuccess = false

    _self.renderWidget()
    _self.createConnection()

  createConnection: ->
    _self.registerEventListeners()
    KandyAPI.login _self.domain.apiKey, _self.visitor.username, _self.visitor.password, (msg) ->
      _self.onConnected()
    , (e) ->
      console.log e

  registerEventListeners: ->
    KandyAPI.setup
      listeners:
        message: _self.handleEventListeners

  handleEventListeners: (data) ->
    data.message.json = JSON.parse(data.message.json)
    if _self.isValidRequest(data)
      json = data.message.json
      switch json.cmd
        when 'message_delivery'
          _self.notifyMessageDelivery(data)
        when 'new_message'
          _self.handlers.newMessageFromOperator(data)
        when 'typing_alert'
          _self.typingAlert(json.user_id, json.name)
        when 'remove_typing_alert'
          _self.removeTypingAlert()
        when 'notify_close_chat'
          _self.handlers.notifyCloseChat()

  isValidRequest: (data) ->
    json = data.message.json
    return json && json.id && json.id isnt '' && json.id == _self.chatData.id

  handlers:

    notifyMessageDelivery: (message) ->

    newMessageFromOperator: (message) ->
        DateTime = new Date(Number(message.timestamp))
        Time = _self.pad('0', DateTime.getHours(), 2) + ':' + _self.pad('0', DateTime.getMinutes(), 2)
        json = message.message.json

        if json.is_joined
          if !_self.chatData.operators || !_self.chatData.operators.length
            _self.chatData.operators.push(json)

            if !json.display_name || json.display_name is ''
              jQuery('#operator-name').text('')
              jQuery('#in-chat-head').text(_self.config.start_chat.title)
            else
              jQuery('#operator-name').text(json.display_name)
              jQuery('#in-chat-head').text("#{_self.config.in_chat.title} #{json.display_name}")

            if !json.avatar || json.avatar is ''
              jQuery('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
            else
              jQuery('#operator-profile-img').attr('src', json.avatar)

            if !json.role || json.role is ''
              jQuery('#operator-role').text('')
            else
              jQuery('#operator-role').text(json.role)

          jQuery('#chat-msgs').append("<div class=\'in-chat-msg\'>#{json.text}</div>")
        else if json.is_left
          jQuery('#chat-msgs').append("<div class=\'in-chat-msg\'>#{json.text}</div>")
          for o in _self.chatData.operators
            if o.id == json.id
              _self.chatData.operators.splice(o)
        else
          if json.type is 'v'
            jQuery('#chat-msgs').append('<div><span class=\'right\' style=\'word-break: break-word;\'>' + json.text + '<label class=\'right-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
          else
            if !json.avatar || json.avatar is ''
              jQuery('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'<%= asset_url('avatars/avatar-operator.png') %>\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + json.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
            else
              jQuery('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'' + json.avatar + '\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + json.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
            jQuery('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')
        $('#con-chat').show()
        $('#def-chat').hide()
        $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
        _self.chatData.messages.push(message);

    typingAlert: (id, name) ->
      $('#img-typing').empty()
      $('#img-typing').show()
      $('#img-typing').append('<p class=\'chat-message-pinned typing-' + id + '-' + _self.chatData.id + '\'>' + name + ' ' + _self.config.in_chat.typing + '<img src =\'<%= asset_url('icons/typing.gif') %>\' style=\'width: 16px;height: 16px;\' /></p>')
      $('.typing-' + id + '-' + _self.chatData.id).show()
      $('#conchat').scrollTop($('#con-chat')[0].scrollHeight)

    removeTypingAlert: ->
      $('#img-typing').hide()

    notifyCloseChat: ->
      $('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
      $('#operator-name').text('')
      $('#operator-role').text('')
      $('#in-chat-head').text(_self.config.collapse.title)
      _self.showTab('CloseChatTab')
      _self.showToggle('CloseChatTab')
      $('.mess-input').val('')
      $('.chat-dislikes').attr('id', 'chat-dislikes')
      $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbdown.svg') %>')
      $('.chat-likes').attr('id', 'chat-likes')
      $('#chat-likes').attr('src', '<%= asset_url('icons/thumbup.svg') %>')

  onConnected: ->
    _self.getLocationInfo()
    _self.checkContinueChat()
    _self.widgetRequest()

    $(document).on 'click', '#send-request', ->
      if _self.isSendRequest
        $('#email-error').hide()
        $('#name-error').hide()
        $('#txt-emails').css('border-color', '')
        $('#txt-name').css('border-color', '')
        _self.isSendRequest = false

        name = $.trim($('#txt-name').val())
        name = if _self.config.start_chat.ask_for_name is false then (if name is '' then 'anonymous' else '') else name
        email = $.trim($('#txt-emails').val())
        question = $.trim($('#txt-question').val())
        if _self.departmentVisible
          if jQuery('.drp-department').val() is null
            _self.department = '0'
          else
            _self.department = $('.drp-department option:selected').val()
        filter = /^([a-zA-Z0-9_\.\-])+\@.(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,5})+$/
        flag = true
        flag = if name isnt '' then (if email isnt '' then ( if filter.test(email) then true else false) else true) else false
        if name isnt ''
          if email isnt ''
            if !filter.test(email)
              $('#email-error').show()
              $('#txt-emails').css('border-color', '#CC0000')
              _self.isSendRequest = true
              flag = false
        else
          $('#txt-name').css('border-color', '#CC0000')
          $('#name-error').show()
          _self.isSendRequest = true
          flag = false
        if flag
          _self.visitor.name = name
          msg = _self.visitor.name + ' ' + _self.config.in_chat.joined_chat
          _self.inChat(name)
          _self.sendRequestFromWidget(name, email, question)
          _self.showTab('MessageChatTab')
          _self.showToggle('MessageChatTab')
          $('#def-chat').show()
          $('#txt-name').val('')
          $('#txt-emails').val('')
          $('#txt-question').val('')

    $(document).on 'click', '#message-send', ->
      $('#con-chat').show()
      val = $.trim($('.mess-input').val())
      if val isnt ''
        _self.sendMessageFromVisitor(val)
        $('.mess-input').val('')

    $('.mess-input').keypress (e) ->
      _self.typingChecking()
      if e.keyCode is 13
        $('#con-chat').show()
        val = $.trim($(this).val())
        if val isnt ''
          _self.sendMessageFromVisitor(val)
          $('.mess-input').val('')
        _self.removeTyping()
        return false

    $('.mess-input').blur ->
      _self.removeTyping()

    $(document).on 'click', '.like-img', ->
      if this.id is 'like'
        _self.ratingFromVisitor('like')
      else
        _self.ratingFromVisitor('dislike')
      _self.refreshChat()

    $(document).on 'click', '.chat-like', ->
      if this.id is 'chat-likes'
        _self.ratingFromVisitor('like')
        $('.chat-dislikes').attr('id', 'chat-dislikes')
        $('#chat-likes').attr('src', '<%= asset_url('icons/thumbg.svg') %>')
        $('.chat-likes').removeAttr('id')
        $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbdown.svg') %>')
      else if this.id is 'chat-dislikes'
        _self.ratingFromVisitor('dislike')
        $('.chat-likes').attr('id', 'chat-likes')
        $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbr.svg') %>')
        $('.chat-dislikes').removeAttr('id')
        $('#chat-likes').attr('src', '<%= asset_url('icons/thumbup.svg') %>')

    $(document).on 'click', '#btn-send-email', ->
      $('#2email-error').hide()
      $('#2question-error').hide()
      $('#no-operator-name').css('border-color', '')
      $('#no-operator-emails').css('border-color', '')
      $('#no-operator-question').css('border-color', '')
      name = $.trim($('#no-operator-name').val())
      email = $.trim($('#no-operator-emails').val())
      question = $.trim($('#no-operator-question').val())
      filter = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
      if name isnt '' && email isnt '' && question isnt ''
        if filter.test(email)
          _self.sendNoOperatorMailRequestFromWidget(name, email, question)
        else
          $('#2email-error').show()
          $('#no-operator-emails').css('border-color', '#CC0000')
      else
        $('#no-operator-name').css('border-color', '#CC0000')
        $('#no-operator-emails').css('border-color', '#CC0000')
        $('#no-operator-question').css('border-color', '#CC0000')
        $('#2question-error').show()

    $(document).on 'click', '#refresh-send-mail', _self.refreshChat

    $(document).on 'click', '#btn-close-chat', ->
      _self.closeChatFromVisitor()

    $(document).on 'click', '#refresh-after-chats', _self.refreshChat

    $(document).on 'click', '.like-chat-dwld', ->
      DateTime = new Date().toString()
      TimeZone = DateTime.substring(DateTime.indexOf('('), DateTime.indexOf(')'))
      TimeZone = TimeZone.substring(1, TimeZone.length)
      # TODO: open a windows to download chat scripts

  checkContinueChat: ->
    id = localStorage.getItem(KANDY_SHOPIFY_CHAT_ID)
    if id isnt null
      _self.chatData.id = id

  widgetRequest: ->
    jQuery.ajax
      url: _self.domain.host + 'chat/widget'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        chat_id: _self.chatData.id
      success: (res) ->
        if res.status is 'close'
          localStorage.removeItem(KANDY_SHOPIFY_CHAT_ID)
          location.reload()
        _self.chatData = res
        _self.bindWidget()
        if _self.checkOperatorAvaliableId
          clearInterval(_self.checkOperatorAvaliableId)
        _self.checkOperatorAvaliableId = _self.checkOperatorAvaliable()

  checkOperatorAvaliable: (delay)->
    delay = 15*1000 unless delay
    setInterval ->
      jQuery.ajax
        url: _self.domain.host + 'chat/online'
        type: 'GET'
        data:
          id: _self.domain.id
        dataType: 'json'
        success: (res) ->
          if res.online isnt _self.chatData.online
            _self.chatData.online = res.online
            if res.online
              $('.no-operator-msg-div').remove()
            else
              $('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>');
              $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight);
    , delay

  sendRequestFromWidget: (name, email, question) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/request'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        name: name
        email: email
        location: _self.location
      success: (res) ->
        _self.chatData = res

        localStorage.setItem(KANDY_SHOPIFY_CHAT_ID, res.id)

        if _self.checkingOperatorAvailable
          clearInterval(_self.checkingOperatorAvailable)
          _self.checkingOperatorAvailable = undefined
        _self.checkingOperatorAvailable = _self.checkOperatorAvaliable()

        if question && question isnt ''
          json =
            message:
              json: JSON.stringify
                id: res.id
                text: question
                display_name: _self.chatData.title
                type: 'v'
            timestamp: new Date().getTime()
          res.messages.push(json)
          _self.displayMessage(json)
          $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
          _self.saveMessage(json)

        _self.sendNotifyNewChatToOperator(res)

        $('#con-chat').show()
        $('#operator-img-div').show()
        $('#def-chat').css('min-height', '40px')
        $('#img-typing').hide()
        _self.chatContent()

        unless res.online
          $('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>')
          $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)

  sendNotifyNewChatToOperator: (conversation) ->
    json = conversation
    json.cmd = 'new_chat'
    json.domain_id = _self.domain.id

    KandyAPI.messaging.sendJSON _self.operator.username, json, (msg) ->
      console.log(msg)
    , (msg) ->
      console.log (msg)

  sendMessageFromVisitor: (msg) ->
    unless _self.chatData.id
      _self.sendRequestFromWidget('anonymous', '', msg)
    else
      json =
        id: _self.chatData.id
        cmd: 'new_message'
        type: 'v'
        display_name: _self.chatData.title
        text: msg
      KandyAPI.messaging.sendJSON _self.operator.username, json, (msg) ->
        msg.timestamp = new Date().getTime()
        msg.message.json = JSON.parse(msg.message.json)

        _self.displayMessage(msg)
        $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
        _self.saveMessage(msg)
      , (msg) ->
        _self.displayErrorMessage(msg)

  saveMessage: (msg) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/save'
      type: 'post'
      dataType: 'json'
      data:
        id: _self.chatData.id
        message: msg
      success: ->

  typingChecking: ->
    # TODO send to server

  removeTyping: ->
    # TODO: send to server

  ratingFromVisitor: (val) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/rating'
      type: 'POST'
      dataType: 'json'
      data:
        chat_id: _self.chatData.id
        rating: val

  closeChatFromVisitor: ->
    if _self.chatData.id
      jQuery.ajax
        url: _self.domain.host + 'chat/close'
        type: 'POST'
        dataType: 'json'
        data:
          id: _self.chatData.id
        success: () ->
          json =
            cmd: 'notify_close_chat'
            id: _self.chatData.id
            display_name: _self.chatData.title
            type: 'v'
            is_closed: true
            text: "#{_self.chatData.title} #{_self.config.in_chat.closed_chat}"
          KandyAPI.messaging.sendJSON _self.operator.username, json, (msg) ->
            msg.timestamp = new Date().getTime()
            msg.message.json = JSON.parse(msg.message.json)

            _self.saveMessage(msg)
          , (msg) ->
            console.log(msg)
          _self.handlers.notifyCloseChat()

  sendNoOperatorMailRequestFromWidget: (name, email, question) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/send-mail'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        name: name
        email: email
        question: question
      success: () ->
        $('#no-operator-name').val('')
        $('#no-operator-emails').val('')
        $('#no-operator-question').val('')
        _self.showTab('NoOperatorSuccess')
        _self.showToggle('NoOperatorSuccess')

  getLocationInfo: ->
    # FIXME: host blocked by Adblock
    _self.location = { # dummy
      'ip': ''
      'country_code': ''
      'country_name': ''
      'region_code': ''
      'region_name': ''
      'city': ''
      'zip_code': ''
      'time_zone': ''
      'latitude': 0
      'longitude': 0
      'metro_code': 0
    }
    jQuery.ajax
      url: 'https://freegeoip.net/json/'
      type: 'GET'
      dataType: 'jsonp'
      async: false
      success: (location) ->
        _self.location = location

  sendRequest: ->
    if _self.isSendRequest
      _self.isSendRequest = false
      if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
          _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
        if _self.chatData.online
          if !_self.chatData.id || _self.chatData.id is ''
            _self.inChat('anonymous')
            _self.displayStartMessage()
            #_self.sendRequestFromWidget()
            _self.showToggle('MessageChatTab')
            _self.showTab('MessageChatTab')
        else
          if !_self.chatData.id || _self.chatData.id is ''
            _self.noOperators()
    else
      _self.showToggle('MessageChatTab')

  refreshChat: ->
    localStorage.removeItem(KANDY_SHOPIFY_CHAT_ID)
    if _self.checkingOperatorAvailable
      clearInterval(_self.checkingOperatorAvailable)
      _self.checkingOperatorAvailable = undefined
    available = _self.chatData.online
    _self.chatData = {messages: []}
    _self.isSendRequest = true
    $('#chat-msgs').empty()
    if available
      if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
          _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
        _self.showTab('MessageChatTab')
        _self.hideToggle('MessageChatTab')
      else
        _self.showTab('StartChatTab')
        _self.hideToggle('StartChatTab')
      _self.hideChatable()
    else
      _self.hideToggle('NoOperatorTab')
      _self.hideChatable()
      _self.noOperators()

  renderWidget: ->
    $('body').append """
    <div class='animate chat-window'>
      <div id='start-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-start-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='start-head' class='header-text collapse-start-chat'></td>
              <td class='header-btn'>
                <a style='padding-left: 5px;' class='collapse-start-chat'>
                  <img id='minimize' class='btn-img start-chat-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='name-box'>
              <td colspan='2' style='padding:0;'>
                <div class='name-messages'>
                  <h4 class='title-info' id='lbl-intro'></h4>
                  <input id='txt-name' class='name-input' style=''>
                  <div class='error-message' id='name-error' style=''></div>
                  <input id='txt-emails' class='name-input'>
                  <div class='error-message' id='email-error' style=''></div>
                  <select class='name-input drp-department' style='height: 32px;width: 90%;'></select>
                  <textarea id='txt-question' class='question-input'></textarea>
                  <div class='error-message' id='question-error' style=''></div>
                  <center>
                    <button class='btn-send-req' id='send-request'>
                      <a id='send-req-text' style='text-decoration:none;color:white;padding: 0px 10px;'></a>
                    </button>
                  </center>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-start-chat' src='' style='display:none !important;'>
        <div id='spinner-region' class='global-spinner' style='display: none;'>
          <div class='spinner-loader'></div>
        </div>
      </div>
      <div id='no-operator' class='chat-window  ' style='display: none;'>
        <img class='chat-img top-img collapse-no-operator' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='no-operator-head' class='header-text collapse-no-operator'></td>
              <td class='header-btn'>
                <a style='padding-left: 5px;' class='collapse-no-operator'>
                  <img id='maxmizes' class='btn-img no-operator-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='no-operator-box'>
              <td colspan='2' style='padding:0;'>
                <div class='name-messages' style='padding:5px;'>
                  <label id='lbl-email-intro'></label>
                  <p></p>
                  <input id='no-operator-name' class='name-input' placeholder='Name'>
                  <div class='error-message' id='2name-error' style=''></div>
                  <input id='no-operator-emails' class='name-input' placeholder='Email'>
                  <div class='error-message' id='2email-error' style=''></div>
                  <textarea id='no-operator-question' class='question-input' placeholder='What can we help with?'></textarea>
                  <div class='error-message' id='2question-error' style=''></div>
                  <center>
                    <button id='btn-send-email'>
                      <a id='send-no-operator-text' style='text-decoration:none;color:white;'></a>
                    </button>
                  </center>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-no-operator' src='' style='display:none !important;'>
      </div>
      <div id='no-operator-sent' class='chat-window  ' style='display: none;'>
        <img class='chat-img top-img collapse-no-operator-success' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='no-operator-sent-head' class='header-text collapse-no-operator-success'>No Operators Available</td>
              <td id='no-operator-refresh' class='header-btn'>
                <a id='refresh-send-mail'>
                  <img style='width: 32px;' class='btn-img' src='<%= asset_url('icons/refresh.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 4px;' class='collapse-no-operator-success'>
                  <img id='' class='btn-img no-operator-success-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='no-operator-send-mail-box'>
              <td colspan='3' style='padding:0;'>
                <div class='name-messages' style='height: 75px;padding:10px;'>
                  <label id='lbl-email-sent'>email is sent and should go back to the initial page waiting for new chat sessions.</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-no-operator-success' src='' style='display:none !important;'>
      </div>
      <div id='in-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-message-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='in-chat-head' class='send-req collapse-message-chat'>#{_self.config.collapse.title}</td>
              <td class='header-btn chat-box'>
                <a style='padding-left: 4px;' class='collapse-message-chat'>
                  <img class='btn-img message-chat-btn-mini' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
              <td class='header-btn close-button'>
                <a id='btn-close-chat'>
                  <img style='width: 15px;' class='btn-img' src='<%= asset_url('icons/close.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='message-box'>
              <td colspan='3' style='padding:0;'>
                <div id='operator-img-div' class='name-messages' style='height: 56px;overflow: hidden;border-bottom: 5px solid #dcdcdc;'>
                  <div style='width:78%; float:left;'>
                    <div style='float:left;'>
                      <img id='operator-profile-img' style='height: 40px;width: 40px;margin: 8px;' src='<%= asset_url('icons/customer_support-128.png') %>'>
                    </div>
                    <div style='float:left;'>
                      <div id='operator-name' style='font-size: 20px;font-weight: bold;line-height: 1.5em;'></div>
                      <div id='operator-role' style='font-size:14px;'></div>
                    </div>
                  </div>
                  <div style='width:20%;float: right;margin-top: 5%;margin-right: 2%;'>
                    <div class='thumb-box'>
                      <a>
                        <img class='chat-like chat-likes' id='chat-likes' style='margin-top: 4%;' src='<%= asset_url('icons/thumbup.svg') %>'>
                      </a>
                      |
                      <a>
                        <img class='chat-like chat-dislikes' id='chat-dislikes' src='<%= asset_url('icons/thumbdown.svg') %>'>
                      </a>
                      <a style='display:none;'>
                        <img src='<%= asset_url('icons/mail-icon.png') %>'>
                      </a>
                    </div>
                  </div>
                </div>
                <div id='def-chat' class='name-messages' style='min-height: 2px;'></div>
                <div id='con-chat' class='name-messages' style='min-height: 220px;max-height: 220px; border-bottom: white;border-top: none; word-break: break-all;overflow-y: auto; display:block!important;'>
                  <div class='messages'>
                    <div id='chat-msgs'></div>
                  </div>
                </div>
                <div id='img-typing' class='name-messages' style='border-top-color: white; display: none;'></div>
                <div class='name-messages send-mess' style='border-top-width:5px;'>
                  <textarea id='send-msg-text' style='max-width:225px; float:left' class='mess-input' rows='2' placeholder='#{_self.config.in_chat.send_message}'></textarea>
                  <a href='javascript:void(0)'>
                    <img id='message-send' src='<%= asset_url('icons/send.png') %>' style='margin-top: 8%;float:left;'>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-message-chat' src='' style='display:none !important;'>
      </div>
      <div id='close-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-close-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='close-head' class='header-text collapse-close-chat'></td>
              <td id='cls-chat-refresh' class='header-btn'>
                <a id='refresh-after-chats'>
                  <img style='width: 32px;height: 32px;' class='btn-img refresh-cls-chats' src='<%= asset_url('icons/refresh.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 4px;' class='collapse-close-chat'>
                  <img style='margin-bottom: 1px; margin:auto; vertical-align: middle;' class='btn-img close-chat-btn-mini' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='close-box'>
              <td colspan='3' style='padding:0;'>
                <div class='name-messages'>
                  <p class='cls-chat-msg'></p>
                  <br>
                  <a>
                    <img class='like-img' id='like' src='<%= asset_url('icons/thumbup.svg') %>' style='margin-left: 35%;'>
                    <img style='margin-left: 7%;' class='like-img' id='dislike' src='<%= asset_url('icons/thumbdown.svg') %>'>
                  </a>
                  <br>
                  <br>
                  <br>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-close-chat' src='' style='display:none !important;'>
      </div>
      <div id='spinner-region' class='global-spinner' style='display: none;'>
        <div class='spinner-loader' style='top: 45%; left: 49%;'></div>
      </div>
    </div>
    """

    $('#start-chat').hide()
    $('#in-chat').hide()
    $('#close-chat').hide()
    $('#no-operator').hide()
    $('#no-operator-sent').hide()
    $('#img-typing').hide()

    wi = $(window).width()
    if wi <= 370
      $('.chattable').css('width', wi)
    else
      $('.chattable').css('width', '300px')

    $(window).resize ->
      wi = $(window).width()
      if wi <= 370
        $('.chattable').css('width', wi)
      else
        $('.chattable').css('width', '300px')

    $(document).on 'mouseover', '#like', ->
      $('#like').attr('src', '<%= asset_url('icons/thumbg.svg') %>')
    $(document).on 'mouseover', '#dislike', ->
      $('#dislike').attr('src', '<%= asset_url('icons/thumbr.svg') %>')
    $(document).on 'mouseout', '#like', ->
      $('#like').attr('src', '<%= asset_url('icons/thumbup.svg') %>')
    $(document).on 'mouseout', '#dislike', ->
      $('#dislike').attr('src', '<%= asset_url('icons/thumbdown.svg') %>')
    $(document).on 'mouseover', '#chat-likes', ->
      $('#chat-likes').attr('src', '<%= asset_url('icons/thumbg.svg') %>')
    $(document).on 'mouseover', '#chat-dislikes', ->
      $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbr.svg') %>')
    $(document).on 'mouseout', '#chat-likes', ->
      $('#chat-likes').attr('src', '<%= asset_url('icons/thumbup.svg') %>')
    $(document).on 'mouseout', '#chat-dislikes', ->
      $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbdown.svg') %>')

    $(document).on 'mouseover', '#message-send', ->
      $('#message-send').css('border', '0px solid ' + _self.config.color)
    $(document).on 'mouseout', '#message-send', ->
      $('#message-send').css('border', 'none')

    $(document).on 'click', '.collapse-start-chat', ->
      img = $('.start-chat-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.start-chat-btn-mini')
        _self.hideToggle('StartChatTab')
      else
        _self.showChatable('.start-chat-btn-mini')
        _self.showToggle('StartChatTab')

    $(document).on 'click', '.collapse-message-chat', ->
      img = $('.message-chat-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.message-chat-btn-mini')
        _self.hideToggle('MessageChatTab')
      else
        _self.showChatable('.message-chat-btn-mini')
        _self.sendRequest()

    $(document).on 'click', '.collapse-close-chat', ->
      img = $('.close-chat-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.close-chat-btn-mini')
        _self.hideToggle('CloseChatTab')
      else
        _self.showChatable('.close-chat-btn-mini')
        _self.showToggle('CloseChatTab')

    $(document).on 'click', '.collapse-no-operator', ->
      img = $('.no-operator-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.no-operator-btn-mini')
        _self.hideToggle('NoOperatorTab')
      else
        _self.showChatable('.no-operator-btn-mini')
        _self.showToggle('NoOperatorTab')

    $(document).on 'click', '.collapse-no-operator-success', ->
      img = $('.no-operator-success-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.no-operator-success-btn-mini')
        _self.hideToggle('NoOperatorSuccess')
      else
        _self.showChatable('.no-operator-success-btn-mini')
        _self.showToggle('NoOperatorSuccess')

  hideChatable: (bar) ->
    $(bar).attr('src', '<%= asset_url('icons/plus.png') %>') if bar isnt undefined
    $('.chattable').hide() if _self.config.collapse.type is 'i'
    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      $('.top-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
    else
      $('.bottom-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'

  showChatable: (bar) ->
    $(bar).attr('src', '<%= asset_url('icons/minus.png') %>')  if bar isnt undefined
    $('.chattable').show() if _self.config.collapse.type is 'i'
    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      $('.top-img').hide() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
    else
      $('.bottom-img').hide() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'

  showToggle: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        jQuery('#message-box').toggle('fast') unless  _self.flagInChat
        jQuery('#name-box').toggle('fast') if _self.flagStartChat
        jQuery('#close-box').toggle('fast') if _self.flagCloseChat
        jQuery('#no-operator-box').toggle('fast') if _self.flagNoOperator
        jQuery('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        jQuery('.message-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = true
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'StartChatTab'
        jQuery('#message-box').toggle('fast') if _self.flagInChat
        jQuery('#name-box').toggle('fast') unless  _self.flagStartChat
        jQuery('#close-box').toggle('fast') if _self.flagCloseChat
        jQuery('#no-operator-box').toggle('fast') if _self.flagNoOperator
        jQuery('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        jQuery('.start-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = true
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'CloseChatTab'
        jQuery('#message-box').toggle('fast') if _self.flagInChat
        jQuery('#name-box').toggle('fast') if  _self.flagStartChat
        jQuery('#close-box').toggle('fast') unless _self.flagCloseChat
        jQuery('#no-operator-box').toggle('fast') if _self.flagNoOperator
        jQuery('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        jQuery('.close-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = true
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'NoOperatorTab'
        jQuery('#message-box').toggle('fast') if _self.flagInChat
        jQuery('#name-box').toggle('fast') if  _self.flagStartChat
        jQuery('#close-box').toggle('fast') if _self.flagCloseChat
        jQuery('#no-operator-box').toggle('fast') unless _self.flagNoOperator
        jQuery('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        jQuery('.no-operator-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = true
        _self.flagNoOperatorSuccess = false
      when 'NoOperatorSuccess'
        jQuery('#message-box').toggle('fast') if _self.flagInChat
        jQuery('#name-box').toggle('fast') if  _self.flagStartChat
        jQuery('#close-box').toggle('fast') if _self.flagCloseChat
        jQuery('#no-operator-box').toggle('fast') if _self.flagNoOperator
        jQuery('#no-operator-send-mail-box').toggle('fast') unless _self.flagNoOperatorSuccess
        jQuery('.no-operator-success-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = true

  hideToggle: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        jQuery('#message-box').toggle('fast') if _self.flagInChat
        jQuery('.message-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagInChat = false
      when 'StartChatTab'
        jQuery('#name-box').toggle('fast') if _self.flagStartChat
        jQuery('.start-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagStartChat = false
      when 'CloseChatTab'
        jQuery('#close-box').toggle('fast') if _self.flagCloseChat
        jQuery('.close-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagCloseChat = false
      when 'NoOperatorTab'
        jQuery('#no-operator-box').toggle('fast') if _self.flagNoOperator
        jQuery('.no-operator-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagNoOperator = false
      when 'NoOperatorSuccess'
        jQuery('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        jQuery('.no-operator-success-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagNoOperatorSuccess = false

  bindWidget: ->
    jQuery('#def-chat').empty()
    jQuery('#chat-msgs').empty()

    jQuery('.top-img').hide()
    jQuery('.bottom-img').hide()

    jQuery('#name-box').hide()
    jQuery('#message-box').hide()
    jQuery('#close-box').hide()
    jQuery('#no-operator-box').hide()
    jQuery('#no-operator-send-mail-box').hide()

    _self.setPosition()
    _self.startChat()
    _self.closeChat()
    _self.setImgPosition()
    _self.widgetAnimate()

    if _self.config.enabled
      jQuery('.chattable-raw').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('.btn-send-req').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('#btn-send-email').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('.send-mess').css('border-top-color', _self.config.color + ' !important')
      jQuery('.header-text').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('.header-btn').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('#in-chat-head').attr('style', 'background: ' + _self.config.color + ' !important')
      jQuery('#message-send').attr('style', 'background: ' + _self.config.color + ' !important')

    if _self.chatData.id && _self.chatData.id isnt ''
      if _self.chatData.rating is 'like'
        jQuery('#chat-likes').attr('src', '<%= asset_url('icons/thumbg.svg') %>')
        jQuery('.chat-likes').removeAttr('id')
      else if _self.chatData.rating is 'dislike'
        jQuery('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbr.svg') %>')
        jQuery('.chat-dislikes').removeAttr('id')

      if _self.chatData.operators && _self.chatData.operators.length
        op = _self.chatData.operators[0]

        if !op.display_name || op.display_name is ''
          jQuery('#operator-name').text('')
          jQuery('#in-chat-head').text(_self.config.start_chat.title)
        else
          jQuery('#operator-name').text(op.display_name)
          jQuery('#in-chat-head').text("#{_self.config.in_chat.title} #{op.display_name}")

        if !op.avatar || op.avatar is ''
          jQuery('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
        else
          jQuery('#operator-profile-img').attr('src', op.avatar)

        if !op.role || op.role is ''
          jQuery('#operator-role').text('')
        else
          jQuery('#operator-role').text(op.role)

      flag = true
      for m in _self.chatData.messages
        if m.message.json.type isnt 'v'
          flag = false
          break
      if flag
        _self.inChat(_self.chatData.name)

      _self.chatContent()
      _self.isSendRequest = false
      _self.showTab('MessageChatTab')
      _self.showToggle('MessageChatTab')
      jQuery('.chattable').show()
      jQuery('#con-chat').scrollTop(jQuery('#con-chat')[0].scrollHeight)
      jQuery('.top-img').hide()
      jQuery('.bottom-img').hide()
      unless _self.chatData.online
        jQuery('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>')
        jQuery('#con-chat').scrollTop(jQuery('#con-chat')[0].scrollHeight)
    else
      if _self.chatData.online
        if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'r'
          jQuery('.top-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
        else
          jQuery('.bottom-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
        jQuery('.chattable').hide() if _self.config.collapse.type is 'i'
        if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
            _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
          _self.showTab('MessageChatTab')
        else
          _self.showTab('StartChatTab')
      else
        _self.noOperators()

  showTab: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        jQuery('#start-chat').hide()
        jQuery('#in-chat').show()
        jQuery('#close-chat').hide()
        jQuery('#no-operator').hide()
        jQuery('#no-operator-dent').hide()
      when 'StartChatTab'
        jQuery('#start-chat').show()
        jQuery('#in-chat').hide()
        jQuery('#close-chat').hide()
        jQuery('#no-operator').hide()
        jQuery('#no-operator-dent').hide()
      when 'CloseChatTab'
        jQuery('#start-chat').hide()
        jQuery('#in-chat').hide()
        jQuery('#close-chat').show()
        jQuery('#no-operator').hide()
        jQuery('#no-operator-dent').hide()
      when 'NoOperatorTab'
        jQuery('#start-chat').hide()
        jQuery('#in-chat').hide()
        jQuery('#close-chat').hide()
        jQuery('#no-operator').show()
        jQuery('#no-operator-dent').hide()
      when 'NoOperatorSuccess'
        jQuery('#start-chat').hide()
        jQuery('#in-chat').hide()
        jQuery('#close-chat').hide()
        jQuery('#no-operator').hide()
        jQuery('#no-operator-dent').show()
      when 'AllHide'
        jQuery('#start-chat').hide()
        jQuery('#in-chat').hide()
        jQuery('#close-chat').hide()
        jQuery('#no-operator').hide()
        jQuery('#no-operator-dent').hide()

  getDateTime: (val) ->
    date = new Date(val)
    minut = date.getMinutes()
    hour = date.getHours()
    ampm = if hour >= 12 then 'pm' else 'am'
    day = date.getDate()
    month = (date.getMonth() + 1)
    year = date.getFullYear()

    return hour + ':' + minut + ampm + '.' + ' ' + _self.getSetFormate(day) + ' ' + _self.getMonthName(month) + ' ' + year

  getMonthName: (val) ->
    months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Dec']
    if val > 0 and val <= 12
      monthyer = months[val - 1]
    return monthyer

  getSetFormate: (val) ->
    number = val
    str = ''
    if val.toString().length != 1
      number = parseInt(val.toString().substring(val.toString().length - 1, val.toString().length))
    if number == 1
      str = 'st'
    else if number == 2
      str = 'nd'
    else if number == 3
      str = 'rd'
    else if number == 0 || number >= 4 || number <= 9
      str = 'th'
    return val + str

  setPosition: ->
    if _self.config.collapse.position is 'bl'
      jQuery('.chat-window').css
        'bottom': '0'
        'left': '10px'
        'top': ''
        'right': ''
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').show()
          jQuery('.bottom-img').hide()
          jQuery('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').show()
            jQuery('.bottom-img').hide()
            jQuery('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').show()
          jQuery('.bottom-img').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').show()
            jQuery('.bottom-img').hide()
    else if _self.config.collapse.position is 'br'
      jQuery('.chat-window').css
        'bottom': '0'
        'left': ''
        'top': ''
        'right': '10px'
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').show()
          jQuery('.bottom-img').hide()
          jQuery('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').show()
            jQuery('.bottom-img').hide()
            jQuery('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').show()
          jQuery('.bottom-img').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').show()
            jQuery('.bottom-img').hide()
    else if _self.config.collapse.position is 'tl'
      jQuery('.chat-window').css
        'bottom': ''
        'left': '10px'
        'top': '0'
        'right': ''
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').hide()
          jQuery('.bottom-img').show()
          jQuery('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').hide()
            jQuery('.bottom-img').show()
            jQuery('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          jQuery('.top-img').hide()
          jQuery('.bottom-img').show()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').hide()
            jQuery('.bottom-img').show()
    else if _self.config.collapse.position is 'tr'
      jQuery('.chat-window').css
        'bottom': ''
        'left': ''
        'top': '0'
        'right': '10px'
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt 0
          jQuery('.top-img').hide()
          jQuery('.bottom-img').show()
          jQuery('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            jQuery('.top-img').hide()
            jQuery('.bottom-img').show()
            jQuery('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt 0
          jQuery('.top-img').hide()
          jQuery('.bottom-img').show()
        else
          if _self.config.collapse.custom_image_url
            jQuery('.top-img').hide()
            jQuery('.bottom-img').show()

  startChat: ->
    _self.showTab('StartChatTab')

    jQuery('#start-head').text(_self.config.start_chat.title)
    jQuery('#lbl-intro').text(_self.config.start_chat.intro_text)
    jQuery('#txt-name').attr('placeholder', _self.config.start_chat.ask_for_name_text)
    jQuery('#txt-emails').attr('placeholder', _self.config.start_chat.ask_for_email_text)
    jQuery('#txt-question').attr('placeholder', _self.config.start_chat.ask_for_question_text)
    jQuery('#send-req-text').text(_self.config.start_chat.request_button)

    jQuery('#name-error').text(_self.config.error_messages.name_required)
    jQuery('#email-error').text(_self.config.error_messages.email_valid)
    jQuery('#2email-error').text(_self.config.error_messages.email_valid)
    jQuery('#2question-error').text(_self.config.error_messages.no_operator_required)

    jQuery('#name-error').hide()
    jQuery('#email-error').hide()
    jQuery('#2email-error').hide()
    jQuery('#2name-error').hide()
    jQuery('#2qust-error').hide()


    if _self.config.start_chat.ask_for_name is '1'
      jQuery('#txt-name').show()
    else
      jQuery('#txt-name').hide()

    if _self.config.start_chat.ask_for_email is '1'
      jQuery('#txt-emails').show()
    else
      jQuery('#txt-emails').hide()

    if _self.config.start_chat.ask_for_question is '1'
      jQuery('#txt-question').show()
      jQuery('#lbl-msg').show()
    else
      jQuery('#txt-question').hide()
      jQuery('#lbl-msg').hide()

    if _self.config.start_chat.ask_for_department is '1'
      if jQuery('.drp-department').val()
        _self.departmentVisible = true
        jQuery('.drp-department').show()
      else
        _self.departmentVisible = false
        jQuery('.drp-department').hide()
    else
      _self.departmentVisible = false
      jQuery('.drp-department').hide()

  noOperators: ->
    jQuery('#no-operator-head').text(_self.config.no_operators.title)
    if _self.config.no_operators.action is 'h'
      _self.showTab('AllHide')
    else if _self.config.no_operators.action is 'm'
      _self.showTab('NoOperatorTab')
      jQuery('#lbl-email-intro').text(_self.config.no_operators.message)
      jQuery('#no-operator-name').hide()
      jQuery('#no-operator-emails').hide()
      jQuery('#no-operator-question').hide()
      jQuery('#btn-send-email').hide()
    else if _self.config.no_operators.action is 'e'
      _self.showTab('NoOperatorTab');
      jQuery('#lbl-email-intro').text(_self.config.no_operators.email_intro)
      jQuery('#no-operator-name').show()
      jQuery('#no-operator-emails').show()
      jQuery('#nno-operator-question').show()
      jQuery('#btn-send-email').show()

    jQuery('#no-operator-name').attr('placeholder', _self.config.no_operators.your_name)
    jQuery('#no-operator-emails').attr('placeholder', _self.config.no_operators.your_email)
    jQuery('#no-operator-question').attr('placeholder', _self.config.no_operators.your_question)
    jQuery('#lbl-email-sent').text(_self.config.no_operators.email_sent_text)
    jQuery('#send-no-operator-text').text(_self.config.no_operators.send_button)

  inChat: (visitorName)->
    jQuery('#con-chat').hide()
    jQuery('#def-chat').show()
    jQuery('#def-chat').append('<label>' + _self.config.in_chat.greeting + ' ' + visitorName + '!</label>')
    jQuery('#def-chat').append('<label>' + _self.config.in_chat.connecting + '</label>')
    setTimeout ->
      jQuery('#def-chat').empty();
      jQuery('#def-chat').append('<div style=\'margin-top: 4%;\'><img src=\'<%= asset_url('icons/50-20.png') %>\'/><span style=\'margin-left: 4%;\' id=\'no-operator-msg\' class=\'in-chat-msg\' >' + _self.config.in_chat.message + '</span></div >')
    , 1200

  closeChat: ->
    if _self.config.chat_close.ask_for_rating is '1'
      jQuery('#like').show()
      jQuery('#dislike').show()
    else
      jQuery('#like').hide()
      jQuery('#dislike').hide()

    if _self.config.chat_close.custom_link_button is '1'
      jQuery('#btn-text').show()
    else
      jQuery('#btn-text').hide()

    jQuery('#close-head').text(_self.config.chat_close.title);
    jQuery('.cls-chat-msg').text(_self.config.chat_close.chat_closed);
    jQuery('#btn-text').text(_self.config.chat_close.button_text);
    jQuery('.like-chat-dwld').text(_self.config.chat_close.download);

  pad: (padString, value, length) ->
    str = value.toString()
    while (str.length < length)
      str = padString + str;
    return str

  chatContent: ->
    jQuery('#chat-msgs').empty()
    _self.displayStartMessage()
    if _self.chatData.messages
      if _self.chatData.messages.length > 0
        for m in _self.chatData.messages
          _self.displayMessage(m)
        jQuery('#con-chat').scrollTop(jQuery('#con-chat')[0].scrollHeight)

  displayStartMessage: ->
    text = _self.config.in_chat.start_message
    if text && text isnt ''
      time = new Date().toLocaleTimeString()
      jQuery('#chat-msgs').append('<div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + text + '<label class=\'left-time\'>' + time + '</label></span><div class=\'clear\'></div></div>')
      jQuery('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')

  displayMessage: (m) ->
    DateTime = new Date(Number(m.timestamp))
    Time = _self.pad('0', DateTime.getHours(), 2) + ':' + _self.pad('0', DateTime.getMinutes(), 2)
    json = m.message.json
    if json.is_joined || json.is_left
      jQuery('#chat-msgs').append("<div class=\'in-chat-msg\'>#{json.text}</div>")
    else
      if json.type is 'v'
        jQuery('#chat-msgs').append('<div><span class=\'right\' style=\'word-break: break-word;\'>' + json.text + '<label class=\'right-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
      else
        if !json.avatar || json.avatar is ''
          jQuery('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'<%= asset_url('avatars/avatar-operator.png') %>\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + json.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
        else
          jQuery('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'' + json.avatar + '\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + json.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
        jQuery('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')


  displayErrorMessage: (m) ->
    console.log(m)

  setImgPosition: ->
    if _self.config.collapse.image isnt '0'
      jQuery('.chat-img').attr('src', '<%= asset_url('assets/tabimages/TabImg-') %>' + _self.config.collapse.image + '.png')
    else
      if _self.config.collapse.custom_image_url isnt ''
        jQuery('.chat-img').attr('src', _self.config.collapse.custom_image_url)

    jQuery('.chat-img').css('width', '' + _self.config.collapse.scale + '%')
    if _self.config.collapse.image_in_front_of_tab is false
      jQuery('.chat-img').css({'position': ''})
      jQuery('.chattable').css({'position': 'relative'})
    else
      jQuery('.chat-img').css({'position': 'relative'})
      jQuery('.chattable').css({'position': ''})

    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      vertic = 50 - _self.config.collapse.vertical
      jQuery('.chat-img').css('margin-top', '')
      jQuery('.chat-img').css('margin-bottom', '' + vertic + '%')
    else
      vertic = 50 - _self.config.collapse.vertical
      jQuery('.chat-img').css('margin-bottom', '')
      jQuery('.chat-img').css('margin-top', '' + vertic + '%')

    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'tl'
      if _self.config.collapse.horizontal > 50
        first = (_self.config.collapse.horizontal * 130) / 50
        second = (first * _self.config.collapse.horizontal) / 100
        third = second - _self.config.collapse.horizontal
        jQuery('.chat-img').css('margin-left', '' + third + '%')
      else if _self.config.collapse.horizontal < 50
        first = _self.config.collapse.horizontal - 52;
        jQuery('.chat-img').css('margin-left', '' + first + '%')
      else
        first = 25;
        jQuery('.chat-img').css('margin-left', '' + first + '%')
    else
      if _self.config.collapse.horizontal > 50
        first = (_self.config.collapse.horizontal * 25) / 50
        second = first - 25
        third = (second * 2)
        fourth = first + third
        jQuery('.chat-img').css('margin-left', '' + fourth + '%')
      else if _self.config.collapse.horizontal < 50
        first = (_self.config.collapse.horizontal * 25) / 50
        second = first - 25
        third = (second * 2)
        fourth = (first + third) * 2
        jQuery('.chat-img').css('margin-left', '' + fourth + '%')
      else
        first = 25
        jQuery('.chat-img').css('margin-left', '' + first + '%')

  widgetAnimate: ->
    if _self.config.collapse.page_load isnt 'none'
      jQuery('.chat-window').removeClass().addClass(_self.config.collapse.page_load + ' animated').one 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', ->
        jQuery(this).removeClass()
        jQuery(this).addClass('chat-window')