@demo = () ->
    console.log "demo"

style = document.createElement('link')
style.rel = 'stylesheet'
style.href = '<%= asset_url("kandy-chatbox.css") %>'
style.type = 'text/css'
document.getElementsByTagName('HEAD').item(0).appendChild(style)

window.onerror = ->
    true

UserName = undefined
IsContinue = false
IsOperatorAvailable = false
Rating = true
SignalID = undefined
UserId = ""
InChatData = []
VisitorId = undefined
Role = "Visitor"
WidgetName = undefined
VisitorName = undefined
ChatUserInfoID = undefined
ChatData = undefined
Ip = undefined
lat = undefined
lang = undefined
CountryCode = undefined
CountryName = undefined
json = undefined
newURL = window.location.protocol + "//" + window.location.host + "" + window.location.pathname
IsNoOperatorcheck = false
visitormMsgArr = []
VisitorMessage = {VisitorID: ""}
VisitorData = undefined
Department = "0"
DepartmentVisible = false
IsSendRequest = true

flagStartChat = false
flagInChat = false
flagCloseChat = false
flagNoOperator = false
flagNoOperatorSuccess = false

IsConnected = true

json =
    ChatClose:
        AskforRating: true
        ButtonText: "Sign Up Free!"
        ChatClosed: "Thanks for chatting. Please rate how you feel about the chat session:"
        CustomLinkButton: false
        Download: "Download chat transcript"
        RatingThanks: "Thanks for your rating!"
        Title: "Chat Closed"
        Url: "https://www.bizchat.com/tou"
    Collapse:
        CustomImageId: ""
        CustomImageUrl: ""
        Horizontal: 50
        Image: "<%= asset_url("TabImg-2.png") %>"
        ImageinfrontofTab: false
        IsCustom: true
        PageLoad: "BounceIn"
        Position: "Bottom Left"
        Scale: 50
        ShowWidgetHideButton: true
        Title: "Chat with us!"
        Type: "Image and Tab"
        Vertical: 50
    Color: "#000000"
    Enable: true
    ErrorMessage:
        ObjectEmailValid: "Please Enter Valid Email."
        NameRequired: "Please Enter Name."
        NoOperatorRequired: "Please Enter Name, Email and Question."
    HostedPage:
        BackgroundImage: ""
        BackgroundImageId: ""
        EnableHostedChat: true
        Introduction: "Enter your information below to continue."
        PageName: "Hosted Page"
        Title: "Chat with us!"
    InChat:
        Connecting: "Connecting you to the chat now..."
        Greeting: "Hello,"
        JoinedChat: "has joined the chat!"
        Message: "An operator will be right with you!"
        NoOperators: "An operator has not yet connected. Don't worry, an operator will be by shortly! When they connect, they'll see all the messages you've sent so far."
        SendMessage: "Enter Your Message and press Enter to send"
        Title: "Chatting with."
        Typing: "is typing"
    NoOperators:
        Action: "Show Email Form"
        CentralEmail: "info@bizchatbox.com"
        EmailIntro: "There are currently no operators available, but feel free to send us an email!"
        EmailSentText: "email is sent and should go back to the initial page waiting for new chat sessions."
        Message: "Sorry, no operators are currently available"
        SendButton: "Send Email"
        Title: "No Operators Available"
        YourEmail: "enter your email here"
        YourName: "enter your name here"
        YourQuestion: "what can we help with?"
    SelectedTab: "btnnoopreter"
    StartChat:
        AskforEmail: true
        AskforEmailInput: "Enter your email here"
        AskforName: true
        AskforNameInput: "Enter your name here"
        AskforQuestion: false
        AskforQuestionInput: "Enter your question here"
        IntroText: "Enter your info below to begin."
        PopoutAutomatically: false
        RequestButton: "Send Chat Request"
        Title: "Chat with us!"
    Style: "Minimal"
    WidgetsName: "Default"

$('body').append('' +
'<div class="animate1 chatwindow">' +
    '<div id="startchat" class="chatwindow">' +
        '<img class="chat-img top-img collapsStartchat" src="" style="display:block !important;" />' +
        '<table class="chattable">' +
            '<tr class="chattableraw">' +
                '<td id="starthead" class="hedertext collapsStartchat"></td>' +
                '<td class="hederbtn">' +
                    '<a href="#" style="padding-left: 5px;" class="collapsStartchat">' +
                        '<img id="minimize" class="btnimg startchatbtnmini" style="margin:auto;vertical-align: middle;" src="<%= asset_url("icons/plus.png") %>"/>' +
                    '</a>' +
                '</td>' +
            '</tr>' +
            '<tr id="name-box">' +
                '<td colspan="2" style="padding:0;">' +
                    '<div class="name-messages">' +
                        '<h4 class="BizchatBox_TitleInfo" id="lblintro"></h4>' +
                        '<input id="txtname" class="nameinput" style="" />' +
                        '<div class="error_message" id="name_error" style=""></div>' +
                        '<input id="txtemails" class="nameinput" />' +
                        '<div class="error_message" id="email_error" style=""></div>' +
                        '<select class="nameinput DrpDepartment" style="height: 32px;width: 90%;"></select>' +
                        '<label id="lblmsg" style="margin-left: 6%;font-weight: bold;">Message</label>' +
                        '<textarea id="txtquestion" class="quesinput"></textarea>' +
                        '<div class="error_message" id="qust_error" style=""></div>' +
                        '<center>' +
                            '<button class="btnsendreq" id="SendRequest">' +
                                '<a id="sendreqtext" href="#" style="text-decoration:none;color:white;padding: 0px 10px;"></a>' +
                            '</button>' +
                        '</center>' +
                        '<div class="cls"></div>' +
                        '<div class="logo-bizchat">' +
                            '<a target="_blank" href="#"><img src="<%= asset_url("gray-logo.png") %>" class="desaturate" width="100">' +
                            '</a>' +
                        '</div>' +
                    '</div>' +
                '</td>' +
            '</tr>' +
        '</table>' +
        '<img class="chat-img bottom-img collapsStartchat" src="" style="display:none !important;" />' +
        '<div id="spinnerRegion" class="global-spinner" style="display: none;">' +
            '<div class="spinner-loader"></div>' +
        '</div>' +
    '</div>' +
    '<div id="Nooperator" class="chatwindow  ">' +
        '<img class="chat-img top-img collapsNooperator" src="" style="display:none !important;" />' +
        '<table class="chattable">' +
            '<tr class="chattableraw">' +
                '<td id="noophead" class="hedertext collapsNooperator"></td>' +
                '<td class="hederbtn">' +
                    '<a href="#" style="padding-left: 5px;" class="collapsNooperator"><img id="maxmizes" class="btnimg nooperatorbtnmini" style="margin:auto;vertical-align: middle;" src="<%= asset_url("icons/plus.png") %>"/>' +
                    '</a>' +
                '</td>' +
            '</tr>' +
            '<tr id="NoOp-box">' +
                '<td colspan="2" style="padding:0;">' +
                    '<div class="name-messages" style="padding:5px;">' +
                        '<label id="lblemailintro"></label>' +
                        '<p></p>' +
                        '<input id="noopname" class="nameinput" placeholder="Name" />' +
                        '<div class="error_message" id="2name_error" style=""></div>' +
                        '<input id="noopemails" class="nameinput" placeholder="Email" />' +
                        '<div class="error_message" id="2email_error" style=""></div>' +
                        '<textarea id="noopquestion" class="quesinput" placeholder="What can we help with?"></textarea>' +
                        '<div class="error_message" id="2qust_error" style=""></div>' +
                        '<center>' +
                            '<button id="btnsendemail">' +
                                '<a id="sendnooptext" href="#" style="text-decoration:none;color:white;"></a>' +
                            '</button>' +
                        '</center>' +
                        '<div class="cls"></div>' +
                        '<div class="logo-bizchat">' +
                            '<a target="_blank" href="#"><img src="<%= asset_url("gray-logo.png") %>" class="desaturate" width="100">' +
                            '</a>' +
                        '</div>' +
                    '</div>' +
                '</td>' +
            '</tr>' +
        '</table><img class="chat-img bottom-img collapsNooperator" src="" style="display:none !important;" />' +
    '</div>' +
    '<div id="NooperatorSent" class="chatwindow  "><img class="chat-img top-img collapsNooperatorSuccess" src="" style="display:none !important;" />' +
        '<table class="chattable">' +
            '<tr class="chattableraw">' +
                '<td id="noopsenthead" class="hedertext collapsNooperatorSuccess">No Operators Available</td>' +
                '<td id="Nooprefresh" class="hederbtn">' +
                    '<a href="#" id="refreshSendMail"><img style="width: 32px;" class="btnimg" src="<%= asset_url("icons/refresh.png") %>"/>' +
                    '</a>' +
                '</td>' +
                '<td class="hederbtn">' +
                    '<a href="#" style="padding-left: 4px;" class="collapsNooperatorSuccess"><img id="" class="btnimg nooperatorsuccessbtnmini" style="margin:auto;vertical-align: middle;" src="<%= asset_url("icons/plus.png") %>"/>' +
                    '</a>' +
                '</td>' +
            '</tr>' +
            '<tr id="NoOpSendMail-box">' +
                '<td colspan="3" style="padding:0;">' +
                    '<div class="name-messages" style="height: 75px;padding:10px;">' +
                        '<label id="lblemailSent">email is sent and should go back to the initial page waiting for new chat sessions.</label>' +
                    '</div>' +
                '</td>' +
            '</tr>' +
        '</table><img class="chat-img bottom-img collapsNooperatorSuccess" src="" style="display:none !important;" />' +
    '</div>' +
    '<div id="inchat" class="chatwindow"><img class="chat-img top-img collapsMessagechat" src="" style="display:none !important;" />' +
        '<table class="chattable">' +
            '<tr class="chattableraw">' +
                '<td id="inchathead" class="sendreq collapsMessagechat">Welcome to LiveChat</td>' +
                '<td class="hederbtn chatbox1">' +
                    '<a href="#" style="padding-left: 4px;" class="collapsMessagechat"><img class="btnimg messagechatbtnmini" src="<%= asset_url("icons/plus.png") %>"/>' +
                    '</a>' +
                '</td>' +
                '<td class="hederbtn closebutton">' +
                    '<a href="#" id="btnclosechat"><img style="width: 15px;" class="btnimg" src="<%= asset_url("icons/close.png") %>" />' +
                    '</a>' +
                '</td>' +
            '</tr>' +
            '<tr id="message-box">' +
                '<td colspan="3" style="padding:0;">' +
                    '<div id="operatorimgdiv" class="name-messages" style="height: 56px;overflow: hidden;border-bottom: 5px solid #dcdcdc;">' +
                        '<div style="width:78%; float:left;">' +
                            '<div style="float:left;"><img id="operatorprofileimg" style="height: 40px;width: 40px;margin: 8px;" src="<%= asset_url("icons/customer_support-128.png") %>"/>' +
                            '</div>' +
                            '<div style="float:left;">' +
                                '<div id="operatorname" style="font-size: 20px;font-weight: bold;line-height: 1.5em;"></div>' +
                                '<div id="operatorrole" style="font-size:14px;"></div>' +
                            '</div>' +
                        '</div>' +
                        '<div style="width:20%;float: right;margin-top: 5%;margin-right: 2%;">' +
                            '<div class="thumbbox">' +
                                '<a href="#"><img class="chatlike chatlikes" id="chatlikes" style="margin-top: 4%;" src="<%= asset_url("icons/thumbup.svg") %>"/>' +
                                '</a>|' +
                                '<a href="#"><img class="chatlike chatdislikes" id="chatdislikes" src="<%= asset_url("icons/thumbdown.svg") %>"/>' +
                                '</a>' +
                                '<a style="display:none;" href="#"><img src="<%= asset_url("icons/mail-icon.png") %>"/>' +
                                '</a>' +
                            '</div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="defchat" class="name-messages" style="min-height: 2px;"></div>' +
                    '<div id="conchat" class="name-messages" style="min-height: 220px;max-height: 220px; border-bottom: white;border-top: none; word-break: break-all;overflow-y: auto; display:block!important;">' +
                        '<div class="messages">' +
                            '<div id="chatmsgs"></div>' +
                        '</div>' +
                    '</div>' +
                    '<div id="imgtyping" class="name-messages" style="border-top: white;"></div>' +
                    '<div class="name-messages sendmess" style="border-top-width:5px;">' +
                        '<textarea id="sendmsgtext" style="max-width:225px; float:left" class="messinput" rows="3" placeholder="Type and press[enter]" style="float: left;width: 82%;"></textarea>' +
                        '<a href="javascript:void(0)"><img id="MessageSend" src="<%= asset_url("icons/send.png") %>" style="margin-top: 8%;float:left;" />' +
                        '</a>' +
                        '<div class="cls"></div>' +
                        '<div class="logo-bizchat">' +
                            '<a target="_blank" href="#"><img src="<%= asset_url("gray-logo.png") %>" class="desaturate" width="100">' +
                            '</a>' +
                        '</div>' +
                    '</div>' +
                '</td>' +
            '</tr>' +
        '</table><img class="chat-img bottom-img collapsMessagechat" src="" style="display:none !important;" />' +
    '</div>' +
    '<div id="closechat" class="chatwindow"><img class="chat-img top-img collapsClosechat" src="" style="display:none !important;" />' +
        '<table class="chattable">' +
            '<tr class="chattableraw">' +
                '<td id="closehead" class="hedertext collapsClosechat"></td>' +
                '<td id="clschatrefresh" class="hederbtn">' +
                    '<a href="#" id="refreshafterchats"><img style="width: 32px;height: 32px;" class="btnimg refreshclschats" src="<%= asset_url("icons/refresh.png") %>"/>' +
                    '</a>' +
                '</td>' +
                '<td class="hederbtn">' +
                    '<a href="#" style="padding-left: 4px;" class="collapsClosechat"><img style="margin-bottom: 1px; margin:auto; vertical-align: middle;" class="btnimg closechatbtnmini" src="<%= asset_url("icons/plus.png") %>"/>' +
                    '</a>' +
                '</td>' +
            '</tr>' +
            '<tr id="close-box">' +
                '<td colspan="3" style="padding:0;">' +
                    '<div class="name-messages">' +
                        '<p style="text-align:center;">Thanks for chatting.</p>' +
                        '<p class="clschatmsg"></p>' +
                        '<br />' +
                        '<a href="#">' +
                            '<img class="like-img" id="like" src="<%= asset_url("icons/thumbup.svg") %>" style="margin-left: 35%;" />' +
                            '<img style="margin-left: 7%;" class="like-img" id="dislike" src="<%= asset_url("icons/thumbdown.svg") %>"/>' +
                        '</a>' +
                        '<br />' +
                        '<br />' +
                        '<br />' +
                        '<div class="logo-bizchat">' +
                            '<a target="_blank" href="#"><img src="<%= asset_url("gray-logo.png") %>" class="desaturate" width="100">' +
                            '</a>' +
                        '</div>' +
                    '</div>' +
                '</td>' +
            '</tr>' +
        '</table><img class="chat-img bottom-img collapsClosechat" src="" style="display:none !important;" />' +
    '</div>' +
    '<div id="spinnerRegion" class="global-spinner" style="display: none;">' +
        '<div class="spinner-loader" style="top: 45%; left: 49%;"></div>' +
    '</div>' +
'</div>')

$('#startchat').hide()
$('#inchat').hide()
$('#closechat').hide()
$('#Nooperator').hide()
$('#NooperatorSent').hide()
$("#imgtyping").hide()

wi = $(window).width()
if wi <= 370
    $('.chattable').css('width', wi)
else
    $('.chattable').css('width', '300px')

$(window).resize ->
    wi = $(window).width()
    if wi <= 370
        $('.chattable').css('width', wi)
    else
        $('.chattable').css('width', '300px')

$(document).on 'mouseover', '#like', ->
    $('#like').attr('src', '<%= asset_url("icons/thumbg.svg") %>')
$(document).on 'mouseover', '#dislike', ->
    $('#dislike').attr('src', '<%= asset_url("icons/thumbr.svg") %>')
$(document).on 'mouseout', '#like', ->
    $('#like').attr('src', '<%= asset_url("icons/thumbup.svg") %>')
$(document).on 'mouseout', '#dislike', ->
    $('#dislike').attr('src', '<%= asset_url("icons/thumbdown.svg") %>')
$(document).on 'mouseover', '#chatlikes', ->
    $('#chatlikes').attr('src', '<%= asset_url("icons/thumbg.svg") %>')
$(document).on 'mouseover', '#chatdislikes', ->
    $('#chatdislikes').attr('src', '<%= asset_url("icons/thumbr.svg") %>')
$(document).on 'mouseout', '#chatlikes', ->
    $('#chatlikes').attr('src', '<%= asset_url("icons/thumbup.svg") %>')
$(document).on 'mouseout', '#chatdislikes', ->
    $('#chatdislikes').attr('src', '<%= asset_url("icons/thumbdown.svg") %>')

$(document).on 'mouseover', '#MessageSend', ->
    $('#MessageSend').css('border', '0px solid ' + json.Color + '')
$(document).on 'mouseout', '#MessageSend', ->
    $('#MessageSend').css('border', 'none')

# Start Chat Collaps Click Event
$(document).on 'click', '.collapsStartchat', ->
    img = $('.startchatbtnmini')[0].src
    aa = img.substring(img.length - 9, img.length)

    if aa == "minus.png"
        HideChatable(".startchatbtnmini")
        HideToggle('StartChatTab')
    else
        ShowChatable(".startchatbtnmini")
        ShowToggle('StartChatTab')

# Message Chat Collaps Click Event
$(document).on 'click', '.collapsMessagechat', ->
    img = $('.messagechatbtnmini')[0].src
    aa = img.substring(img.length - 9, img.length)

    if aa == "minus.png"
        HideChatable(".messagechatbtnmini")
        HideToggle('MessageChatTab')
    else
        ShowChatable(".messagechatbtnmini")
        SendRequest()

# Close Chat Collaps Click Event
$(document).on 'click', '.collapsClosechat', ->
    img = $('.closechatbtnmini')[0].src
    aa = img.substring(img.length - 9, img.length)

    if aa == "minus.png"
        HideChatable(".closechatbtnmini")
        HideToggle('CloseChatTab')
    else
        ShowChatable(".closechatbtnmini")
        ShowToggle('CloseChatTab')

# No Operator Collaps Click Event
$(document).on 'click', '.collapsNooperator', ->
    img = $('.nooperatorbtnmini')[0].src
    aa = img.substring(img.length - 9, img.length)

    if aa == "minus.png"
        HideChatable(".nooperatorbtnmini")
        HideToggle('NoOperatorTab')
    else
        ShowChatable(".nooperatorbtnmini")
        ShowToggle('NoOperatorTab')

# No Operator Success Collaps Click Event
$(document).on 'click', '.collapsNooperatorSuccess', ->
    img = $('.nooperatorsuccessbtnmini')[0].src
    aa = img.substring(img.length - 9, img.length)

    if aa == "minus.png"
        HideChatable(".nooperatorsuccessbtnmini")
        HideToggle('NoOperatorSuccess')
    else
        ShowChatable(".nooperatorsuccessbtnmini")
        ShowToggle('NoOperatorSuccess')

if IsConnected
    jQuery.ajax
        url: 'https://freegeoip.net/json/',
        type: 'POST',
        dataType: 'jsonp',
        async: false,
        success: (location) ->
            lat = location.latitude;
            lang = location.longitude;
            CountryCode = location.country_code.toLowerCase();
            Ip = location.ip;
            CountryName = location.country_name;

    if (JSON.parse(localStorage.getItem("StorageData")) != null)
        IsContinue = true
        ChatUserInfoID = JSON.parse(localStorage.getItem("StorageData")).ChatUserInfoID;
    if (localStorage.getItem("VisitorID") != null)
        IsContinue = true
        VisitorId = localStorage.getItem("VisitorID")

    # widget request -N in page load widget
    # chat.server.widgetRequest(BizChatID, ChatUserInfoID, VisitorId, WidgetID, chat.connection.id, Key);

    $(document).on 'click', '#SendRequest', ->
        if IsSendRequest
            $('#email_error').hide()
            $('#name_error').hide()
            $('#txtemails').css('border-color', '')
            $('#txtname').css('border-color', '')
            IsSendRequest = false
            name = $.trim($("#txtname").val())
            name = json.StartChat.AskforName == false ? name == "" ? "anonymous" : "" : name
            email = $.trim($('#txtemails').val())
            question = $.trim($('#txtquestion').val())
            if DepartmentVisible
                if jQuery('.DrpDepartment').val() == null
                    Department = "0"
                else
                    Department = $('.DrpDepartment option:selected').val()
            filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,5})+$/
            flag = true
            flag = name != "" ? email != "" ? filter.test(email) ? true : false : true : false
            if name != ""
                if email != ""
                    if !filter.test(email)
                        $('#email_error').show()
                        $('#txtemails').css('border-color', '#CC0000')
                        IsSendRequest = true
                        flag = false
            else
                $('#txtname').css('border-color', '#CC0000')
                $('#name_error').show()
                IsSendRequest = true
                flag = false
            if flag
                WidgetName = json.WidgetsName
                VisitorName = name
                lat = (lat == null || lat == undefined) ? "" : lat
                lang = (lang == null || lang == undefined) ? "" : lang
                CountryCode = (CountryCode == null || CountryCode == undefined) ? "" : CountryCode
                Ip = (Ip == null || Ip == undefined) ? "" : Ip
                CountryName = (CountryName == null || CountryName == undefined) ? "" : CountryName
                msg = VisitorName + ' ' + json.InChat.JoinedChat
                SignalID = chat.connection.id
                InChat(InChatData, VisitorName)

                # chat.server.sendRequestFromWidget(UserId, BizChatID, WidgetID, WidgetName, SignalID, name, email, question, msg, Ip, newURL, lat, lang, Department, CountryCode, CountryName);
                ShowTab('MessageChatTab')
                ShowToggle('MessageChatTab')
                $('#defchat').show()
                $("#txtname").val("")
                $("#txtemails").val("")
                $('#txtquestion').val("")

    $(document).on 'click', '#MessageSend', ->
        $('#conchat').show()
        val = $.trim($('.messinput').val())
        if val != ""
            SignalID = chat.connection.id
            DateTime = new Date()
            Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2)
        # if ChatData.ChatMessages != null || ChatData.ChatMessages != undefined
            # chat.server.sendMessageFromVisitor(ChatData.VisitorId, VisitorName, BizChatID, ChatData.ChatUserInfoID, val)
        $('.messinput').val("")

    $('.messinput').keypress (e) ->
        # chat.server.typingChecking(ChatData.VisitorId, ChatData.VisitorName, BizChatID, ChatData.ChatUserInfoID);
        if e.keyCode == 13
            $('#conchat').show()
            val = $.trim($(this).val())
            if val != ""
                SignalID = chat.connection.id
                DateTime = new Date()
                Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2)
            # if ChatData.ChatMessages != null || ChatData.ChatMessages != undefined
                # chat.server.sendMessageFromVisitor(ChatData.VisitorId, VisitorName, BizChatID, ChatData.ChatUserInfoID, val);
        $('.messinput').val("")
        # chat.server.removeTyping(ChatData.VisitorId, ChatData.VisitorName, BizChatID, ChatData.ChatUserInfoID);
        return false

    $(".messinput").blur ->
        # chat.server.removeTyping(ChatData.VisitorId, ChatData.VisitorName, BizChatID, ChatData.ChatUserInfoID);

    $(document).on 'click', '.like-img', ->
        if this.id == "like"
            # chat.server.ratingFromVisitor(BizChatID, ChatUserInfoID, "Like");
        else
            # chat.server.ratingFromVisitor(BizChatID, ChatUserInfoID, "DisLike");
        localStorage.removeItem("StorageData")
        localStorage.removeItem("VisitorID")
        ChatUserInfoID = null
        ChatData = null
        IsSendRequest = true
        $('#chatmsgs').empty()
        if IsOperatorAvailable
            if json.StartChat.AskforName == false && json.StartChat.AskforEmail == false && json.StartChat.AskforQuestion == false && json.StartChat.AskforDepartment == false
                ShowTab('MessageChatTab')
                HideToggle('MessageChatTab')
            else
                ShowTab('StartChatTab')
                HideToggle('StartChatTab')
            $(".chattable").hide() if json.Collapse.Type == "Image"
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
        else
            HideToggle('NoOperatorTab')
            $(".chattable").hide() if json.Collapse.Type == "Image"
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            NoOperator(json)

    $(document).on 'click', '.chatlike', ->
        if this.id == "chatlikes"
            # chat.server.ratingFromVisitor(BizChatID, ChatUserInfoID, "Like");
            $('.chatdislikes').attr('id', 'chatdislikes')
            $("#chatlikes").attr('src', '<%= asset_url("icons/thumbg.svg") %>')
            $('.chatlikes').removeAttr('id')
            $("#chatdislikes").attr('src', '<%= asset_url("icons/thumbdown.svg") %>')
        else if this.id == "chatdislikes"
            # chat.server.ratingFromVisitor(BizChatID, ChatUserInfoID, "DisLike");
            $('.chatlikes').attr('id', 'chatlikes')
            $("#chatdislikes").attr('src', '<%= asset_url("icons/thumbr.svg") %>')
            $('.chatdislikes').removeAttr('id')
            $("#chatlikes").attr('src', '<%= asset_url("icons/thumbup.svg") %>')

    # No Operator Send Mail click event
    $(document).on 'click', '#btnsendemail', ->
        $('#2email_error').hide()
        $('#2qust_error').hide()
        $('#noopname').css('border-color', '')
        $('#noopemails').css('border-color', '')
        $('#noopquestion').css('border-color', '')
        name = $.trim($("#noopname").val())
        email = $.trim($('#noopemails').val())
        question = $.trim($('#noopquestion').val())
        filter = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
        CentralEmail = json.NoOperators.CentralEmail
        if name != "" && email != "" && question != ""
            if filter.test(email)
                # chat.server.noOperatorMailRequestFromWidget(BizChatID, name, email, question, CentralEmail);
            else
                $('#2email_error').show()
                $('#noopemails').css('border-color', '#CC0000')
        else
            $('#noopname').css('border-color', '#CC0000')
            $('#noopemails').css('border-color', '#CC0000')
            $('#noopquestion').css('border-color', '#CC0000')
            $('#2qust_error').show()

    # No Operator Success Refresh click event
    $(document).on 'click', '#refreshSendMail', ->
        localStorage.removeItem("StorageData")
        localStorage.removeItem("VisitorID")
        ChatUserInfoID = null
        ChatData = null
        IsSendRequest = true
        $('#chatmsgs').empty()
        if IsOperatorAvailable
            if json.StartChat.AskforName == false && json.StartChat.AskforEmail == false && json.StartChat.AskforQuestion == false && json.StartChat.AskforDepartment == false
                ShowTab('MessageChatTab')
                HideToggle('MessageChatTab')
            else
                ShowTab('StartChatTab')
                HideToggle('StartChatTab')
            $(".chattable").hide() if json.Collapse.Type == "Image"
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
        else
            HideToggle('NoOperatorTab')
            if json.Collapse.Type == "Image" then $(".chattable").hide()
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            NoOperator(json)

    $(document).on 'click', '#btnclosechat', ->
        #chat.server.closeChatFromVisitor(BizChatID, ChatData.ChatUserInfoID, "false", ChatData.VisitorId);

    $(document).keyup (e) ->
            # if $('#inchat').css('display') == 'block'
             #   if e.keyCode == 27
                    # ...

    $(document).on 'click', '#refreshafterchats', ->
        localStorage.removeItem("StorageData")
        localStorage.removeItem("VisitorID")
        ChatUserInfoID = null
        ChatData = null
        IsSendRequest = true
        $('#chatmsgs').empty()

        if IsOperatorAvailable
            if json.StartChat.AskforName == false && json.StartChat.AskforEmail == false && json.StartChat.AskforQuestion == false && json.StartChat.AskforDepartment == false
                ShowTab('MessageChatTab')
                HideToggle('MessageChatTab')
            else
                ShowTab('StartChatTab')
                HideToggle('StartChatTab')
            $(".chattable").hide() if json.Collapse.Type == "Image"
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
        else
            HideToggle('NoOperatorTab')
            $(".chattable").hide() if json.Collapse.Type == "Image"
            if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
                $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            else
                $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
            NoOperator(json)

    $(document).on 'click', '.likechatdwld', ->
        DateTime = new Date().toString()
        TimeZone1 = DateTime.substring(DateTime.indexOf("("), DateTime.indexOf(")"))
        TimeZone = TimeZone1.substring(1, TimeZone1.length)
        # window.location = Url + "/Home/Demo?" + "chatuserinfoid=" + ChatUserInfoID + "&TimeZone=" + TimeZone

# send Operator status to Active Chat
SendOperatorStatus = (Data) ->
    Data = JSON.parse(Data)
    if Data.ChatUserInfoId == ChatUserInfoID
        if Data.status == 1
            IsOperatorAvailable = true
            $('.NoOpMsgDiv').remove()
        else
            IsOperatorAvailable = false
            $('#chatmsgs').append('<div class="inchatmsg NoOpMsgDiv">An operator has not yet connected. Dont worry, an operator will be by shortly! When they connect, they all see all the messages you have sent so far.</div>')
            $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# widget Response -N in page load widget
WidgetResponse = (Response) ->
    WidgetData = JSON.parse(Response)
    if WidgetData.widget.BizChatID == BizChatID && WidgetData.key == Key && WidgetData.chatdata.ChatUserInfoID == ChatUserInfoID
        if WidgetData.status.status == 1
            IsOperatorAvailable = true
        else
            IsOperatorAvailable = false
    if WidgetData.chatdata.ChatUserInfoID != null
        if WidgetData.chatdata.ChatStatus != "Close"
            VisitorName = WidgetData.chatdata.VisitorName
            ChatUserInfoID = WidgetData.chatdata.ChatUserInfoID
            VisitorId = WidgetData.chatdata.VisitorId
            ChatData = WidgetData.chatdata
        else
            localStorage.removeItem("StorageData")
            localStorage.removeItem("VisitorID")
            ChatUserInfoID = null
            ChatData = null
            location.reload()
    if WidgetData.visitor.VisitorId != null
        VisitorName = WidgetData.visitor.VisitorName
        VisitorId = WidgetData.visitor.VisitorId
        VisitorData = WidgetData.visitor

    if WidgetData.widget.JsonString != null
        json = JSON.parse(WidgetData.widget.JsonString)
        if !json.ErrorMessage
            json.ErrorMessage =
                NameRequired: "Please Enter Name",
                EmailValid: "Please Enter Valid Email"
        InChatData = json.InChat
        for k in WidgetData.department
            if WidgetData.department[k]
                $('.DrpDepartment').append('<option value="' + WidgetData.department[k].DepartmentId + '">' + WidgetData.department[k].DepartmentName + '</option>')
        BindWidget(json)

# response from send request widget -N
GetWidgetRequestResponse = (GetData) ->
    GetWidgetData = JSON.parse(GetData)
    if GetWidgetData.chatdata.BizChatId == BizChatID
        IsNoOperatorcheck = true
        localStorage.setItem("StorageData", JSON.stringify(GetWidgetData.chatdata))
        UserName = GetWidgetData.chatdata.OperatorName
        ChatUserInfoID = GetWidgetData.chatdata.ChatUserInfoID
        ChatData = GetWidgetData.chatdata
        $("#conchat").show()
        $("#operatorimgdiv").show()
        $('#defchat').css('min-height', '40px')
        $("#imgtyping").hide()
        ChatContent(GetWidgetData.chatdata.ChatMessages);
        if GetWidgetData.status.status == 0
            IsOperatorAvailable = false
            $('#chatmsgs').append('<div class="inchatmsg NoOpMsgDiv">An operator has not yet connected. Dont worry, an operator will be by shortly! When they connect, they all see all the messages you have sent so far.</div>')
            $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# get response during app operator on timer click
GetResponseOnIncomingTimer = (GetBizChatID, GetChatUserInfoID, GetOperatorId, Data) ->
    GetDatas = JSON.parse(Data)
    if GetBizChatID == BizChatID && GetChatUserInfoID == ChatData.ChatUserInfoID
        $('#chatmsgs').empty()
        $("#conchat").show()
        $("#operatorimgdiv").show()
        $('#defchat').hide()
        $("#imgtyping").hide()
        ChatUserInfoID = GetChatUserInfoID
        ChatData.ChatMessages = GetDatas.ChatMessages
        $('#operatorname').text(GetDatas.OperatorName)
        if GetDatas.OperatorImage == ""
            $('#operatorprofileimg').attr('src', '<%= asset_url("1avatar-operator.png") %>')
        else
            $('#operatorprofileimg').attr('src', Url + GetDatas.OperatorImage)
        $('#operatorrole').text(GetDatas.Designation)
        ChatContent(GetDatas.ChatMessages)

# get response during app operator on Othertimer click
GetResponseOnAddOperatorFromInvitation = (SetBizChatId, SetChatInfoId, SetOperatorId, Data, Data1) ->
    GetDatas = JSON.parse(Data)
    MessageData = JSON.parse(Data1)
    if SetBizChatId == BizChatID && SetChatInfoId == ChatUserInfoID
        ChatUserInfoID = SetChatInfoId
        ChatData.ChatMessages = GetDatas.ChatMessages
        ChatData.ChatUserLists = GetDatas.ChatUserLists
        for i in MessageData.ChatMessages
            $('#chatmsgs').append('<div class="inchatmsg">' + MessageData.ChatMessages[i].Messagetext + '</div>')
        $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# operator Requeue from chat -N
RequeueOperatorFromChat = (GetUserId, GetBizChatID, GetChatUserInfoID, Data, Message) ->
    GetData = JSON.parse(Data)
    GetMsg = JSON.parse(Message)
    if BizChatID == GetBizChatID && WidgetID == GetData.WidgetId && GetChatUserInfoID == ChatData.ChatUserInfoID
        ChatData.ChatMessages.push(GetMsg)
        $('#chatmsgs').append('<div class="inchatmsg">' + GetMsg.Messagetext + '</div>')
        $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# Leave Operator from Bizchat -N
LeaveOperatorFromChat = (GetUserId, GetBizChatID, GetChatUserInfoID, Data, Message) ->
    GetData = JSON.parse(Data);
    GetMsg = JSON.parse(Message);
    if BizChatID == GetBizChatID && WidgetID == GetData.WidgetId && GetChatUserInfoID == ChatData.ChatUserInfoID
        ChatData.ChatMessages.push(GetMsg)
        $('#chatmsgs').append('<div class="inchatmsg">' + GetMsg.Messagetext + '</div>')
        $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# get Message From Visitor
MessageGetFromVisitorInBizChat = (json) ->
    MessageData = JSON.parse(json)
    DateTime = new Date()
    Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2)
    if MessageData.BizChatId == BizChatID && MessageData.ChatUserInfoId == ChatUserInfoID
        ChatData.ChatMessages.push(MessageData.ChatMessage)
        $('#chatmsgs').append('<div><span class="right" style="word-break: break-word;">' + MessageData.ChatMessage.Messagetext + '<lable class="righttime">' + Time + '</lable></span><div class="clear"></div></div>')
        $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# Add Operator on First Message  -N
GetResponseWhenFirstOpereatorJoinChat = (GetBizChatId, GetChatUserInfoID, ChatData, data) ->
    GetData = JSON.parse(ChatData)
    if GetBizChatId == BizChatID && GetChatUserInfoID == ChatData.ChatUserInfoID
        for i in GetData.ChatMessages
            DateTime = new Date(GetData.ChatMessages[i].MessageTime)
            Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2)
            $('#operatorname').text(GetData.ChatMessages[i].SenderName)
            if GetData.ChatMessages[i].ImageUrl == ""
                $('#operatorprofileimg').attr('src', '<%= asset_url("icons/1avatar-operator.png") %>')
            else
                $('#operatorprofileimg').attr('src', GetData.ChatMessages[i].ImageUrl)
            $('#operatorrole').text(GetDesignation)
            if GetData.ChatMessages[i].IsJoin == "true"
                if GetData.ChatMessages[i].Type != "Visitor"
                    $('#chatmsgs').append('<div class="inchatmsg">' + GetData.ChatMessages[i].Messagetext + '</div>')
                else
                    $('#chatmsgs').append('<div><div style="float: left;height: auto;margin-bottom: 0px;"><img style="width:35px;" src="' + Url + GetData.ChatMessages[i].ImageUrl + '"></div><span class="left" style="word-break: break-word;background: ' + json.Color + '"><lable class="leftname">shivak</lable>' + GetData.ChatMessages[i].Messagetext + '<lable class="lefttime">' + Time + '</lable></span><div class="clear"></div></div>')
                    $('.left').append('<style>.left:after{border-right:8px solid ' + json.Color + '}</style>')
                    $("#conchat").scrollTop($("#conchat")[0].scrollHeight)
                    $("#conchat").show()
                    $('#defchat').hide()
            ChatData.ChatMessages.push(GetData.ChatMessages[i])

# message send by operator in bizchat -N
GetMessageFromOperator = (GetBizChatId, GetChatUserInfoID, Data) ->
    GetData = JSON.parse(Data)
    if GetBizChatId == BizChatID && GetChatUserInfoID == ChatData.ChatUserInfoID
        for i in GetData.ChatMessages
            DateTime = new Date(GetData.ChatMessages[i].MessageTime)
            Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2)
            if GetData.ChatMessages[i].IsJoin == "true"
                if GetData.ChatMessages[i].Type != "Visitor"
                    $('#chatmsgs').append('<div class="inchatmsg">' + GetData.ChatMessages[i].Messagetext + '</div>')
            else
                if GetData.ChatMessages[i].ImageUrl == ""
                    $('#chatmsgs').append('<div><div style="float: left;height: auto;margin-bottom: 0px;"><img style="width:35px;" src="' + Url + '/Content/images/avatars/1avatar-operator.png' + '"></div><span class="left" style="word-break: break-word;background: ' + json.Color + '">' + GetData.ChatMessages[i].Messagetext + '<lable class="lefttime">' + Time + '</lable></span><div class="clear"></div></div>')
                else
                    $('#chatmsgs').append('<div><div style="float: left;height: auto;margin-bottom: 0px;"><img style="width:35px;" src="' + Url + GetData.ChatMessages[i].ImageUrl + '"></div><span class="left" style="word-break: break-word;background: ' + json.Color + '">' + GetData.ChatMessages[i].Messagetext + '<lable class="lefttime">' + Time + '</lable></span><div class="clear"></div></div>')
                $('.left').append('<style>.left:after{border-right:8px solid ' + json.Color + '}</style>')
                $("#conchat").scrollTop($("#conchat")[0].scrollHeight)
                $("#conchat").show()
                $('#defchat').hide()
            ChatData.ChatMessages.push(GetData.ChatMessages[i]);

# check typing alert -N
TypingAlert = (SetUserId, SetUserName, SetBizChatID, SetChatUserInfoID) ->
    if SetBizChatID == BizChatID && SetChatUserInfoID == ChatUserInfoID
        if SetUserId != ChatData.VisitorId
            $("#imgtyping").empty()
            $("#imgtyping").show()
            if $('#imgtyping').hasClass('Typing-' + SetUserId + '-' + SetChatUserInfoID)
# ...
            else
                $("#imgtyping").append('<p class="bizchat-message-pinned Typing-' + SetUserId + '-' + SetChatUserInfoID + '" >' + SetUserName + ' ' + json.InChat.Typing + '<img src ="' + Url + '/Content/images/icon/typing.gif" style="width: 16px;height: 16px;" /></p>')
                $('.Typing-' + SetUserId + '-' + SetChatUserInfoID).show()
                $("#conchat").scrollTop($("#conchat")[0].scrollHeight)

# remove typing alert -N
RemoveTypingAlert = (SetUserId, SetUserName, SetBizChatID, SetChatUserInfoID) ->
    if SetBizChatID == BizChatID && SetChatUserInfoID == ChatUserInfoID
        $("#imgtyping").hide()

# chat closed From visitor -N
CloseBizChatFromVisitor = (Data) ->
    CloseData = JSON.parse(Data)
    if ChatData.VisitorId == CloseData.VisitorId && ChatUserInfoID == CloseData.ChatUserInfoId && BizChatID == CloseData.BizChatId
        localStorage.removeItem("StorageData")
        localStorage.removeItem("VisitorID")
        ChatUserInfoID = CloseData.ChatUserInfoId
        ChatData = null
        $('#operatorprofileimg').attr('src', '' + Url + '/Content/images/avatars/1avatar-operator.png')
        $('#operatorname').text("")
        $('#operatorrole').text("")
        $('#inchathead').text("Welcome to LiveChat")
        $('.DrpDepartment option:first').val()
        ShowTab('CloseChatTab')
        ShowToggle('CloseChatTab')
        $('.messinput').val("")
        $('.chatdislikes').attr('id', 'chatdislikes')
        $("#chatdislikes").attr('src', '<%= asset_url("icons/thumbdown.svg") %>')
        $('.chatlikes').attr('id', 'chatlikes')
        $("#chatlikes").attr('src', 'https://dashboard.bizchatbox.com/plugin/v2/thumbup.svg')

# chat closed From operator -N
CloseBizChatFromOperator = (Data) ->
    CloseData = JSON.parse(Data)
    if ChatData.VisitorId == CloseData.VisitorId && ChatUserInfoID == CloseData.ChatUserInfoId && BizChatID == CloseData.BizChatId
        localStorage.removeItem("StorageData")
        localStorage.removeItem("VisitorID")
        ChatUserInfoID = CloseData.ChatUserInfoId
        ChatData = null
        $('#operatorprofileimg').attr('src', '<%= asset_url("icons/1avatar-operator.png") %>')
        $('#operatorname').text("")
        $('#operatorrole').text("")
        $('#inchathead').text("Welcome to LiveChat")
        $('.DrpDepartment option:first').val()
        ShowTab('CloseChatTab')
        ShowToggle('CloseChatTab')
        $('.messinput').val("")
        $('.chatdislikes').attr('id', 'chatdislikes')
        $("#chatdislikes").attr('src', '<%= asset_url("icons/thumbdown.svg") %>')
        $('.chatlikes').attr('id', 'chatlikes')
        $("#chatlikes").attr('src', '<%= asset_url("icons/thumbup.svg") %>')

# Mail From No operator widget -N
NoOperatorMailResponseFromWidget = (Data) ->
    NoOperatorData = JSON.parse(Data)
    if NoOperatorData.BizchatId == BizChatID && NoOperatorData.ChatUserInfoID == ChatUserInfoID
        $("#noopname").val("")
        $("#noopemails").val("")
        $('#noopquestion').val("")
        ShowTab('NoOperatorSuccess')
        ShowToggle('NoOperatorSuccess')

SendRequest = ->
    if (IsSendRequest)
        IsSendRequest = false
        if json.StartChat.AskforName == false && json.StartChat.AskforEmail == false && json.StartChat.AskforQuestion == false && json.StartChat.AskforDepartment == false
            lat = (lat == null || lat == undefined) ? "" : lat
            lang = (lang == null || lang == undefined) ? "" : lang
            CountryCode = (CountryCode == null || CountryCode == undefined) ? "" : CountryCode
            Ip = (Ip == null || Ip == undefined) ? "" : Ip
            CountryName = (CountryName == null || CountryName == undefined) ? "" : CountryName
            SignalID = chat.connection.id
            VisitorName = "anonymous"
            WidgetName = json.WidgetsName
            if IsOperatorAvailable
                if ChatUserInfoID == "" || ChatUserInfoID == null
                    InChat(InChatData, "anonymous")
                    # chat.server.sendRequestFromWidget(UserId, BizChatID, WidgetID, WidgetName, SignalID, "anonymous", "", "", "anonymous " + json.InChat.JoinedChat, Ip, newURL, lat, lang, "0", CountryCode, CountryName)
                    ShowToogle('MessageChatTab')
                    ShowTab('MessageChatTab')
            else
                NoOperator(json)
    else
        ShowToogle('MessageChatTab');

HideChatable = (bar) ->
    $(bar).attr('src', '<%= asset_url("icons/plus.png") %>')
    $(".chattable").hide() if json.Collapse.Type == "Image"
    if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
        $('.top-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
    else
        $('.bottom-img').show() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")

ShowChatable = (bar) ->
    $(bar).attr('src', '<%= asset_url("icons/minus.png") %>')
    $(".chattable").show() if json.Collapse.Type == "Image"
    if (json.Collapse.Position == "Bottom Left" || json.Collapse.Position == "Bottom Right")
        $('.top-img').hide() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")
    else
        $('.bottom-img').hide() if (json.Collapse.Type == "Image" || json.Collapse.Type == "Image and Tab")

ShowToggle = (CurrentTab) ->
    switch (CurrentTab)
        when 'MessageChatTab'
            jQuery("#message-box").toggle('fast') unless  flagInChat
            jQuery("#name-box").toggle('fast') if flagStartChat
            jQuery("#close-box").toggle('fast') if flagCloseChat
            jQuery("#NoOp-box").toggle('fast') if flagNoOperator
            jQuery("#NoOpSendMail-box").toggle('fast') if flagNoOperatorSuccess
            flagInChat = true
            flagStartChat = false
            flagCloseChat = false
            flagNoOperator = false
            flagNoOperatorSuccess = false
            jQuery(".messagechatbtnmini").attr('src', '<%= asset_url("icons/minus.png") %>')
        when 'StartChatTab'
            jQuery("#message-box").toggle('fast') if flagInChat
            jQuery("#name-box").toggle('fast') unless  flagStartChat
            jQuery("#close-box").toggle('fast') if flagCloseChat
            jQuery("#NoOp-box").toggle('fast') if flagNoOperator
            jQuery("#NoOpSendMail-box").toggle('fast') if flagNoOperatorSuccess
            flagInChat = false
            flagStartChat = true
            flagCloseChat = false
            flagNoOperator = false
            flagNoOperatorSuccess = false
            jQuery(".startchatbtnmini").attr('src', '<%= asset_url("icons/minus.png") %>')
        when 'CloseChatTab'
            jQuery("#message-box").toggle('fast') if flagInChat
            jQuery("#name-box").toggle('fast') if  flagStartChat
            jQuery("#close-box").toggle('fast') unless flagCloseChat
            jQuery("#NoOp-box").toggle('fast') if flagNoOperator
            jQuery("#NoOpSendMail-box").toggle('fast') if flagNoOperatorSuccess
            flagInChat = false
            flagStartChat = false
            flagCloseChat = true
            flagNoOperator = false
            flagNoOperatorSuccess = false
            jQuery(".closechatbtnmini").attr('src', '<%= asset_url("icons/minus.png") %>')
        when 'NoOperatorTab'
            jQuery("#message-box").toggle('fast') if flagInChat
            jQuery("#name-box").toggle('fast') if  flagStartChat
            jQuery("#close-box").toggle('fast') if flagCloseChat
            jQuery("#NoOp-box").toggle('fast') unless flagNoOperator
            jQuery("#NoOpSendMail-box").toggle('fast') if flagNoOperatorSuccess
            flagInChat = false
            flagStartChat = false
            flagCloseChat = false
            flagNoOperator = true
            flagNoOperatorSuccess = false
            jQuery(".nooperatorbtnmini").attr('src', '<%= asset_url("icons/minus.png") %>')
        when 'NoOperatorSuccess'
            jQuery("#message-box").toggle('fast') if flagInChat
            jQuery("#name-box").toggle('fast') if  flagStartChat
            jQuery("#close-box").toggle('fast') if flagCloseChat
            jQuery("#NoOp-box").toggle('fast') if flagNoOperator
            jQuery("#NoOpSendMail-box").toggle('fast') unless flagNoOperatorSuccess
            flagInChat = false
            flagStartChat = false
            flagCloseChat = false
            flagNoOperator = false
            flagNoOperatorSuccess = true
            jQuery(".nooperatorsuccessbtnmini").attr('src', '<%= asset_url("icons/minus.png") %>')

HideToggle = (CurrentTab) ->
    switch (CurrentTab)
        when 'MessageChatTab'
            jQuery("#message-box").toggle('fast') if flagInChat
            flagInChat = false
            jQuery(".messagechatbtnmini").attr('src', '<%= asset_url("icons/plus.png") %>')
        when 'StartChatTab'
            jQuery("#name-box").toggle('fast') if flagStartChat
            flagStartChat = false
            jQuery(".startchatbtnmini").attr('src', '<%= asset_url("icons/plus.png") %>')
        when 'CloseChatTab'
            jQuery("#close-box").toggle('fast') if flagCloseChat
            flagCloseChat = false
            jQuery(".closechatbtnmini").attr('src', '<%= asset_url("icons/plus.png") %>')
        when 'NoOperatorTab'
            jQuery("#NoOp-box").toggle('fast') if flagNoOperator
            flagNoOperator = false
            jQuery(".nooperatorbtnmini").attr('src', '<%= asset_url("icons/plus.png") %>')
        when 'NoOperatorSuccess'
            jQuery("#NoOpSendMail-box").toggle('fast') if flagNoOperatorSuccess
            flagNoOperatorSuccess = false
            jQuery(".nooperatorsuccessbtnmini").attr('src', '<%= asset_url("icons/plus.png") %>')

BindWidget = (AllData) ->
    jQuery('#defchat').empty()
    jQuery('#chatmsgs').empty()

    jQuery(".top-img").hide()
    jQuery(".bottom-img").hide()

    jQuery("#name-box").hide()
    jQuery("#message-box").hide()
    jQuery("#close-box").hide()
    jQuery("#NoOp-box").hide()
    jQuery("#NoOpSendMail-box").hide()

    SetPosition(AllData.Collapse)
    startchat(AllData)
    CloseChat(AllData.ChatClose)
    SetImgPosition(AllData)
    WidgetsAnimate(AllData.Collapse)

    if AllData.Enable
        jQuery('.chattableraw').attr("style", "background: " + AllData.Color + " !important")
        jQuery('.btnsendreq').attr("style", "background: " + AllData.Color + " !important")
        jQuery('#btnsendemail').attr("style", "background: " + AllData.Color + " !important")
        jQuery('.sendmess').css('border-top-color', '' + AllData.Color + ' !important')
        jQuery('.hedertext').attr("style", "background: " + AllData.Color + " !important")
        jQuery('.hederbtn').attr("style", "background: " + AllData.Color + " !important")
        jQuery('#inchathead').attr("style", "background: " + AllData.Color + " !important")
        jQuery('#MessageSend').attr("style", "background: " + AllData.Color + " !important")
    if ChatUserInfoID != null && ChatUserInfoID != ""
        if ChatData != null
            if ChatData.Rating == "Like"
                jQuery('#chatlikes').attr('src', '<%= asset_url("icons/thumbg.svg") %>')
                jQuery('.chatlikes').removeAttr('id')
            else if ChatData.Rating == "DisLike"
                jQuery('#chatdislikes').attr('src', '<%= asset_url("icons/thumbr.svg") %>')
                jQuery('.chatdislikes').removeAttr('id')
            if ChatData.OperatorName == ""
                jQuery('#operatorname').text("")
                jQuery('#inchathead').text("Welcome to LiveChat")
            else
                jQuery('#operatorname').text(ChatData.OperatorName)
                jQuery('#inchathead').text("chat with  " + ChatData.OperatorName)
            if ChatData.OperatorImage == ""
                jQuery('#operatorprofileimg').attr('src', '<%= asset_url("icons/1avatar-operator.png") %>')
            else
                jQuery('#operatorprofileimg').attr('src', ChatData.OperatorImage)
            if ChatData.Designation == null
                jQuery('#operatorrole').text("")
            else
                jQuery('#operatorrole').text(ChatData.Designation)

            flag = true
            for i in ChatData.ChatMessages
                if ChatData.ChatMessages[i].Type != "Visitor"
                    flag = false
                    break
            if flag
                InChat(InChatData, ChatData.VisitorName)
            ChatContent(ChatData.ChatMessages)
            IsSendRequest = false
            ShowTab('MessageChatTab')
            ShowToogle('MessageChatTab')
            jQuery(".chattable").show()
            jQuery("#conchat").scrollTop(jQuery("#conchat")[0].scrollHeight)
            jQuery(".top-img").hide()
            jQuery(".bottom-img").hide()
            if !IsOperatorAvailable
                jQuery('#chatmsgs').append('<div class="inchatmsg NoOpMsgDiv">An operator has not yet connected. Dont worry, an operator will be by shortly! When they connect, they all see all the messages you have sent so far.</div>')
                jQuery("#conchat").scrollTop(jQuery("#conchat")[0].scrollHeight)
    else
        if IsOperatorAvailable
            if (AllData.Collapse.Position == "Bottom Left" || AllData.Collapse.Position == "Bottom Right")
                jQuery('.top-img').show() if (AllData.Collapse.Type == "Image" || AllData.Collapse.Type == "Image and Tab")
            else
                jQuery('.bottom-img').show() if (AllData.Collapse.Type == "Image" || AllData.Collapse.Type == "Image and Tab")
            jQuery(".chattable").hide() if AllData.Collapse.Type == "Image"
            if (AllData.StartChat.AskforName == false && AllData.StartChat.AskforEmail == false && AllData.StartChat.AskforQuestion == false && AllData.StartChat.AskforDepartment == false)
                ShowTab('MessageChatTab')
            else
                ShowTab('StartChatTab')
        else
            NoOperator(json)

ShowTab = (CurrentTab) ->
    switch (CurrentTab)
        when 'MessageChatTab'
            jQuery('#startchat').hide()
            jQuery('#inchat').show()
            jQuery('#closechat').hide()
            jQuery('#Nooperator').hide()
            jQuery('#NooperatorSent').hide()
        when 'StartChatTab'
            jQuery('#startchat').show()
            jQuery('#inchat').hide()
            jQuery('#closechat').hide()
            jQuery('#Nooperator').hide()
            jQuery('#NooperatorSent').hide()
        when 'CloseChatTab'
            jQuery('#startchat').hide()
            jQuery('#inchat').hide()
            jQuery('#closechat').show()
            jQuery('#Nooperator').hide()
            jQuery('#NooperatorSent').hide()
        when 'NoOperatorTab'
            jQuery('#startchat').hide()
            jQuery('#inchat').hide()
            jQuery('#closechat').hide()
            jQuery('#Nooperator').show()
            jQuery('#NooperatorSent').hide()
        when 'NoOperatorSuccess'
            jQuery('#startchat').hide()
            jQuery('#inchat').hide()
            jQuery('#closechat').hide()
            jQuery('#Nooperator').hide()
            jQuery('#NooperatorSent').show()
        when 'AllHide'
            jQuery('#startchat').hide()
            jQuery('#inchat').hide()
            jQuery('#closechat').hide()
            jQuery('#Nooperator').hide()
            jQuery('#NooperatorSent').hide()

getDateTime = (val) ->
    date = new Date(val)
    minut = date.getMinutes()
    hour = date.getHours()
    ampm = if hour >= 12 then 'pm' else 'am'
    day = date.getDate()
    month = (date.getMonth() + 1)
    year = date.getFullYear()

    return hour + ":" + minut + ampm + "." + " " + getSetFormate(day) + " " + getMonthName(month) + " " + year

getMonthName = (val) ->
    months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Dec"]
    if val > 0 and val <= 12
        monthyer = months[val - 1]
    return monthyer

getSetFormate = (val) ->
    number = val
    str = ""
    if val.toString().length != 1
        number = parseInt(val.toString().substring(val.toString().length - 1, val.toString().length))
    if number == 1
        str = "st"
    else if number == 2
        str = "nd"
    else if number == 1
        str = "rd"
    else if number == 1
        str = "rd"
    else if number == 0 || number >= 4 || number <= 9
        str = "th"
    return val + str

SetPosition = (val) ->
    if val.Position == "Bottom Left"
        jQuery('.chatwindow').css
            'bottom': '0'
            'left': '10px'
            'top': ''
            'right': ''
            'position': 'fixed'
            'z-index': '999'
    if val.Type == "Image"
        if val.Image != 0
            jQuery(".top-img").show()
            jQuery(".bottom-img").hide()
            jQuery(".chattable").hide()
        else
            if val.IsCustom
                jQuery(".top-img").show()
                jQuery(".bottom-img").hide()
                jQuery(".chattable").hide()
    else if val.Type == "Image and Tab"
        if val.Image != 0
            jQuery(".top-img").show()
            jQuery(".bottom-img").hide()
        else
            if val.IsCustom
                jQuery(".top-img").show()
                jQuery(".bottom-img").hide()
    else if val.Position == "Bottom Right"
        jQuery('.chatwindow').css
            'bottom': '0'
            'left': ''
            'top': ''
            'right': '10px'
            'position': 'fixed'
            'z-index': '999'
        if val.Type == "Image"
            if val.Image != 0
                jQuery(".top-img").show()
                jQuery(".bottom-img").hide()
                jQuery(".chattable").hide()
            else
                if val.IsCustom
                    jQuery(".top-img").show()
                    jQuery(".bottom-img").hide()
                    jQuery(".chattable").hide()
        else if val.Type == "Image and Tab"
            if val.Image != 0
                jQuery(".top-img").show()
                jQuery(".bottom-img").hide()
            else
                if val.IsCustom
                    jQuery(".top-img").show()
                    jQuery(".bottom-img").hide()
    else if val.Position == "Top Left"
        jQuery('.chatwindow').css
            'bottom': ''
            'left': '10px'
            'top': '0'
            'right': ''
            'position': 'fixed'
            'z-index': '999'
        if val.Type == "Image"
            if val.Image != 0
                jQuery(".top-img").hide()
                jQuery(".bottom-img").show()
                jQuery(".chattable").hide()
            else
                if val.IsCustom
                    jQuery(".top-img").hide()
                    jQuery(".bottom-img").show()
                    jQuery(".chattable").hide()
        else if val.Type == "Image and Tab"
            if val.Image != 0
                jQuery(".top-img").hide()
                jQuery(".bottom-img").show()
            else
                if val.IsCustom
                    jQuery(".top-img").hide()
                    jQuery(".bottom-img").show()
    else if val.Position == "Top Right"
        jQuery('.chatwindow').css
            'bottom': ''
            'left': ''
            'top': '0'
            'right': '10px'
            'position': 'fixed'
            'z-index': '999'
        if val.Type == "Image"
            if val.Image != 0
                jQuery(".top-img").hide()
                jQuery(".bottom-img").show()
                jQuery(".chattable").hide()
            else
                if val.IsCustom
                    jQuery(".top-img").hide()
                    jQuery(".bottom-img").show()
                    jQuery(".chattable").hide()
        else if val.Type == "Image and Tab"
            if val.Image != 0
                jQuery(".top-img").hide()
                jQuery(".bottom-img").show()
            else
                if val.IsCustom
                    jQuery(".top-img").hide()
                    jQuery(".bottom-img").show()

startchat = (val) ->
    ShowTab('StartChatTab')
    jQuery('#starthead').text(val.StartChat.Title)
    jQuery('#lblintro').text(val.StartChat.IntroText)
    jQuery('#txtname').attr('placeholder', val.StartChat.AskforNameInput)
    jQuery('#txtemails').attr('placeholder', val.StartChat.AskforEmailInput)
    jQuery('#txtquestion').attr('placeholder', val.StartChat.AskforQuestionInput)
    jQuery('#sendreqtext').text(val.StartChat.RequestButton)
    # Bind Error Message
    jQuery('#name_error').text(val.ErrorMessage.NameRequired)
    jQuery('#email_error').text(val.ErrorMessage.EmailValid)
    jQuery('#2email_error').text(val.ErrorMessage.EmailValid)
    jQuery('#2qust_error').text(val.ErrorMessage.NoOperatorRequired)

    jQuery('#name_error').hide()
    jQuery('#email_error').hide()
    jQuery('#2email_error').hide()
    jQuery('#2name_error').hide()
    jQuery('#2qust_error').hide()


    if val.StartChat.AskforName
        jQuery('#txtname').show()
    else
        jQuery('#txtname').hide()

    if val.StartChat.AskforEmail
        jQuery('#txtemails').show()
    else
        jQuery('#txtemails').hide()

    if val.StartChat.AskforQuestion
        jQuery('#txtquestion').show()
        jQuery('#lblmsg').show()
    else
        jQuery('#txtquestion').hide()
        jQuery('#lblmsg').hide()

    if val.StartChat.AskforDepartment
        if jQuery('.DrpDepartment').val() != null
            DepartmentVisible = true
            jQuery('.DrpDepartment').show()
        else
            DepartmentVisible = false
            jQuery('.DrpDepartment').hide()
    else
        DepartmentVisible = false
        jQuery('.DrpDepartment').hide()

NoOperator = (val) ->
    jQuery('#noophead').text(val.NoOperators.Title)
    if val.NoOperators.Action == "Hide Widget"
        ShowTab('AllHide')
    else if val.NoOperators.Action == "Show Unavailable Message"
        ShowTab('NoOperatorTab')
        jQuery('#lblemailintro').text(val.NoOperators.Message)
        jQuery('#noopname').hide()
        jQuery('#noopemails').hide()
        jQuery('#noopquestion').hide()
        jQuery('#btnsendemail').hide()
    else if val.NoOperators.Action == "Show Email Form"
        ShowTab('NoOperatorTab');
        jQuery('#lblemailintro').text(val.NoOperators.EmailIntro)
        jQuery('#noopname').show()
        jQuery('#noopemails').show()
        jQuery('#noopquestion').show()
        jQuery('#btnsendemail').show()
    jQuery('#noopname').attr('placeholder', val.NoOperators.YourName)
    jQuery('#noopemails').attr('placeholder', val.NoOperators.YourEmail)
    jQuery('#noopquestion').attr('placeholder', val.NoOperators.YourQuestion)
    jQuery('#lblemailSent').text(val.NoOperators.EmailSentText)
    jQuery('#sendnooptext').text(val.NoOperators.SendButton)

InChat = (val, VisitorName) ->
    jQuery('#conchat').hide()
    jQuery('#defchat').show()
    jQuery('#defchat').append('<lable>' + val.Greeting + ' ' + VisitorName + '!</lable><br/>')
    jQuery('#defchat').append('<lable>' + val.Connecting + '</lable>')
    setTimeout ->
        jQuery('#defchat').empty();
        jQuery('#defchat').append('<div style="margin-top: 4%;"><img src="<%= asset_url("icons/50-20.png") %>" alt="" /><span style="margin-left: 4%;" id="noopmsg" class="inchatmsg">' + val.Message + '</span></div>');
    , 1200

CloseChat = (val) ->
    if val.AskforRating
        jQuery('#like').show()
        jQuery('#dislike').show()
    else
        jQuery('#like').hide()
        jQuery('#dislike').hide()

    if val.CustomLinkButton
        jQuery('#btntext').show()
    else
        jQuery('#btntext').hide()

    jQuery('#closehead').text(val.Title);
    jQuery('.clschatmsg').text(val.ChatClosed);
    jQuery('#btntext').text(val.ButtonText);
    jQuery('.likechatdwld').text(val.Download);

Pad = (padString, value, length) ->
    str = value.toString()
    while (str.length < length)
        str = padString + str;
    return str

ChatContent = (InChatData) ->
    jQuery("#chatmsgs").empty()
    if InChatData != undefined || InChatData != null
        if InChatData.length > 0
            for i in InChatData
                DateTime = new Date(InChatData[i].MessageTime)
                Time = Pad("0", DateTime.getHours(), 2) + ':' + Pad("0", DateTime.getMinutes(), 2);
                if InChatData[i].IsJoin == "true" || InChatData[i].IsJoin == "True"
                    if InChatData[i].Type != "Visitor"
                        jQuery('#chatmsgs').append('<div class="inchatmsg">' + InChatData[i].Messagetext + '</div>')
                else
                    if InChatData[i].Type == "Visitor"
                        jQuery('#chatmsgs').append('<div><span class="right" style="word-break: break-word;">' + InChatData[i].Messagetext + '<lable class="righttime">' + Time + '</lable></span><div class="clear"></div></div>')
                    else
                        jQuery('#chatmsgs').append('<div><div style="float: left;height: auto;margin-bottom: 0px;"><img style="width:35px;" src="' + Url + InChatData[i].ImageUrl + '"></div><span class="left" style="word-break: break-word;background: ' + json.Color + '">' + InChatData[i].Messagetext + '<lable class="lefttime">' + Time + '</lable></span><div class="clear"></div></div>')
                        jQuery('.left').append('<style>.left:after{border-right:8px solid ' + json.Color + '}</style>')
            jQuery("#conchat").scrollTop(jQuery("#conchat")[0].scrollHeight)

SetImgPosition = (val) ->
    if val.Collapse.Image != 0
        jQuery(".chat-img").attr('src', val.Collapse.Image)
    else
        if val.Collapse.IsCustom
            jQuery(".chat-img").attr('src', val.Collapse.CustomImageUrl)
    jQuery(".chat-img").css('width', '' + val.Collapse.Scale + '%')
    if val.Collapse.ImageinfrontofTab == false
        jQuery('.chat-img').css({'position': ''})
        jQuery('.chattable').css({'position': 'relative'})
    else
        jQuery('.chat-img').css({'position': 'relative'})
        jQuery('.chattable').css({'position': ''})

    if val.Collapse.Position == "Bottom Left" || val.Collapse.Position == "Bottom Right"
        vertic = 50 - val.Collapse.Vertical
        jQuery(".chat-img").css('margin-top', '')
        jQuery(".chat-img").css('margin-bottom', '' + vertic + '%')
    else
        vertic = 50 - val.Collapse.Vertical
        jQuery(".chat-img").css('margin-bottom', '')
        jQuery(".chat-img").css('margin-top', '' + vertic + '%')

    if val.Collapse.Position == "Bottom Left" || val.Collapse.Position == "Top Left"
        if val.Collapse.Horizontal > 50
            first = (val.Collapse.Horizontal * 130) / 50
            second = (first * val.Collapse.Horizontal) / 100
            third = second - val.Collapse.Horizontal
            jQuery(".chat-img").css('margin-left', '' + third + '%')
        else if val.Collapse.Horizontal < 50
            first = val.Collapse.Horizontal - 52;
            jQuery(".chat-img").css('margin-left', '' + first + '%')
        else
            first = 25;
            jQuery(".chat-img").css('margin-left', '' + first + '%')
    else
        if val.Collapse.Horizontal > 50
            first = (val.Collapse.Horizontal * 25) / 50
            second = first - 25
            third = (second * 2)
            fourth = first + third
            jQuery(".chat-img").css('margin-left', '' + fourth + '%')
        else if val.Collapse.Horizontal < 50
            first = (val.Collapse.Horizontal * 25) / 50
            second = first - 25
            third = (second * 2)
            fourth = (first + third) * 2
            jQuery(".chat-img").css('margin-left', '' + fourth + '%')
        else
            first = 25
            jQuery(".chat-img").css('margin-left', '' + first + '%')

WidgetsAnimate = (val) ->
    if val.PageLoad != "none"
        jQuery('.chatwindow').removeClass().addClass(val.PageLoad + ' animated').one 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', ->
            jQuery(this).removeClass()
            jQuery(this).addClass('chatwindow')

BindWidget(json)