#= require jquery
#= require kandy.min
#= require jquery.barrating.min

class window.KCWidget
  _self = undefined

  KANDY_SHOPIFY_CHAT_ID = 'kandy_shopify_chat_id'
  KANDY_API_URL = 'https://api.kandy.io/v1.2'

  constructor: (options) ->
    _self = @
    {@kandyVideoCallEnabled, @domain, @visitor, @config} = options
    _self.chatData = {messages: []}
    _self.isSendRequest = true

    _self.flagStartChat = false
    _self.flagInChat = false
    _self.flagCloseChat = false
    _self.flagNoOperator = false
    _self.flagNoOperatorSuccess = false

    _self.renderWidget()
    _self.createConnection()

  createConnection: ->
    _self.registerEventListeners()
    _self.getAnonymousUser _self.domain.accessToken, (user) ->
      _self.visitor = user
      _self.onConnected()
#      KandyAPI.login _self.domain.apiKey, _self.visitor.user_name, _self.visitor.user_password, undefined , (e) ->
#        console.log(e)
    , (e) ->
      console.log(e)

  getAnonymousUser: (domainAccessToken, success, failure) ->
    $.ajax
      url: KANDY_API_URL + '/domains/access_token/users/user/anonymous'
      type: 'GET'
      data:
        key: domainAccessToken
      dataType: 'json'
      success: (res) ->
        success(res.result)
      error: failure


  registerEventListeners: ->
    KandyAPI.setup
      listeners:
        message: _self.handleEventListeners
        callincoming: _self.onCallIncoming
        oncall: _self.onCall
        callanswered: _self.onCallAnswer
        callended: _self.onCallTerminate
        callrejected: _self.onCallRejected

        callinitiated: _self.onCallInitiate
        callinitiatefailed: _self.onCallInitiateFail

  handleEventListeners: (data) ->
    data.message.json = JSON.parse(data.message.json)
    if _self.isValidRequest(data)
      json = data.message.json
      switch json.cmd
        when 'message_delivery'
          _self.notifyMessageDelivery(data)
        when 'new_message'
          _self.handlers.newMessageFromOperator(json)
        when 'typing_alert'
          _self.typingAlert(json.user_id, json.name)
        when 'remove_typing_alert'
          _self.removeTypingAlert()
        when 'notify_close_chat'
          _self.handlers.notifyCloseChat()


  isValidCall: (call) ->
    kuser = call.callerNumber
    for o in _self.chatData.operators
      if o.username == kuser
        return o.display_name
    return false

  onCallInitiate: (call) ->
    _self.audioRingOut[0].play()
    _self.callId = call.getId()
    $('#make-call').hide()
    $('#in-call-control').show()
    $('.hold-btn').hide()

    $('#in-call-control .operator-name').text('Calling to ' + _self.callingOperator.display_name + ' ...')
    call.onStreamAdded = (url) ->
      $('#incoming-video video').attr('src', url)
    call.onLocalStreamAdded = (url) ->
      $('#outgoing-video video').attr('src', url)

  onCallInitiateFail: (call) ->
    _self.audioRingOut[0].pause()
    _self.callId = undefined
    _self.callingOperator = undefined
    $('#make-call').show()
    $('#in-call-control').hide()
    $('.hold-btn').show()

  onCallIncoming: (call, isAnonymous) ->
    user = _self.isValidCall(call)
    if user
      if _self.callId
        KandyAPI.call.rejectCall(call.getId())
      else
        _self.audioRingIn[0].play()
        _self.callId = call.getId()
        $('#make-call').hide()
        $('#chat-control').hide()
        $('#in-call-control').hide()
        $('.chat-box-control').hide()
        $('#incoming-call-control').show()
        $('#incoming-call-control .operator-name').text(user + ' is calling...')

        call.onStreamAdded = (url) ->
          $('#incoming-video video').attr('src', url)
        call.onLocalStreamAdded = (url) ->
          $('#outgoing-video video').attr('src', url)

  onCall: (call) ->
    _self.audioRingOut[0].pause()
    $('.hold-btn').show()
    $('#make-call').hide()
    $('#in-call-control').hide()
    $('#in-call-control .operator-name').text('')
    $('#operator-img-div').addClass('in-call')
    $('#incoming-call-control').hide()
    $('#outgoing-video video').attr('src', call.localStreamURL)
    $('#video-call-switch').click()

  onCallAnswer: (call) ->
    _self.audioRingIn[0].pause()
    $('.chat-box-control').show()

  onCallTerminate: (call) ->
    if _self.callId == call.getId()
      _self.callId = undefined
      _self.callingOperator = undefined
      _self.audioRingOut[0].pause()
      _self.audioRingIn[0].pause()
      $('#chat-switch').click()
      $('#incoming-call-control').hide()
      $('#operator-img-div').removeClass('in-call')

  onCallRejected: (call) ->
    if _self.callId == call.getId()
      _self.callId = undefined
      _self.callingOperator = undefined
      _self.audioRingIn[0].pause()
      $('#incoming-call-control').hide()
      $('.chat-box-control').show()
      if $('#chat-switch').hasClass('active')
        $('#chat-control').show()
        $('#make-call').hide()
      else
        $('#make-call').show()

  isValidRequest: (data) ->
    json = data.message.json
    return json && json.id && json.id isnt '' && json.id == _self.chatData.id

  handlers:

    notifyMessageDelivery: (message) ->

    newMessageFromOperator: (message) ->
      DateTime = new Date(Number(message.timestamp))
      Time = DateTime.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'})

      if message.is_joined
        _self.chatData.operators.push(message)
        if _self.chatData.operators.length == 1
          $('#operator-img-div').show()
          if !message.display_name || message.display_name is ''
            $('#operator-name').text('')
            $('#in-chat-head').text(_self.config.start_chat.title)
          else
            $('#operator-name').text(message.display_name)
            $('#in-chat-head').text("#{_self.config.in_chat.title} #{message.display_name}")

          if !message.avatar || message.avatar is ''
            $('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
          else
            $('#operator-profile-img').attr('src', message.avatar)

          if !message.role || message.role is ''
            $('#operator-role').text('')
          else
            $('#operator-role').text(message.role)

        $('#chat-msgs').append("<div class=\'in-chat-msg\'>#{message.text}</div>")
      else if message.is_left
        $('#chat-msgs').append("<div class=\'in-chat-msg\'>#{message.text}</div>")
        for o, i in _self.chatData.operators
          if o.id == message.id
            _self.chatData.operators.splice(i, 1)
      else
        if message.type is 'v'
          $('#chat-msgs').append('<div><span class=\'right\' style=\'word-break: break-word;\'>' + message.text + '<label class=\'right-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
        else
          if !message.avatar || message.avatar is ''
            $('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'<%= asset_url('avatars/avatar-operator.png') %>\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'><label><b>' + message.display_name + '</b></label>' + message.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
          else
            $('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'' + message.avatar + '\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'><label><b>' + message.display_name + '</b></label>' + message.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
          #$('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')
      $('#con-chat').show()
      $('#def-chat').hide()
      $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
      _self.chatData.messages.push(message);

    typingAlert: (id, name) ->
      $('#img-typing').empty()
      $('#img-typing').show()
      $('#img-typing').append('<p class=\'chat-message-pinned typing-' + id + '-' + _self.chatData.id + '\'>' + name + ' ' + _self.config.in_chat.typing + '<img src =\'<%= asset_url('icons/typing.gif') %>\' style=\'width: 16px;height: 16px;\' /></p>')
      $('.typing-' + id + '-' + _self.chatData.id).show()
      $('#conchat').scrollTop($('#con-chat')[0].scrollHeight)

    removeTypingAlert: ->
      $('#img-typing').hide()

    notifyCloseChat: ->
      $('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
      $('#operator-name').text('')
      $('#operator-role').text('')
      $('#in-chat-head').text(_self.config.start_chat.title)
      $('.cls-chat-msg').text(_self.config.chat_close.chat_closed);
      $('#cls-chat-rating').html """
        <select name="rating">
          <option value=""></option>
          <option value="1">Very bad</option>
          <option value="2">Bad</option>
          <option value="3">Normal</option>
          <option value="4">Good</option>
          <option value="5">Very good</option>
        </select>
      """
      $('#cls-chat-rating > select').barrating
        theme: 'css-stars'
        onSelect: (value, text, event) ->
          if typeof(event) isnt 'undefined'
            _self.ratingFromVisitor(value)
          $('.cls-chat-msg').text(_self.config.chat_close.rating_thanks)
      _self.showTab('CloseChatTab')
      _self.showToggle('CloseChatTab')
      $('.mess-input').val('')
      $('.chat-dislikes').attr('id', 'chat-dislikes')
      $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbdown.svg') %>')
      $('.chat-likes').attr('id', 'chat-likes')
      $('#chat-likes').attr('src', '<%= asset_url('icons/thumbup.svg') %>')

  onConnected: ->
    _self.getLocationInfo()
    _self.checkContinueChat()
    _self.widgetRequest()

    $(document).on 'click', '#send-request', ->
      if _self.isSendRequest
        $('#email-error').hide()
        $('#name-error').hide()
        $('#txt-emails').css('border-color', '')
        $('#txt-name').css('border-color', '')
        _self.isSendRequest = false

        name = $.trim($('#txt-name').val())
        name = if _self.config.start_chat.ask_for_name is '0' then (if name is '' then 'anonymous' else '') else name
        email = $.trim($('#txt-emails').val())
        question = $.trim($('#txt-question').val())
        if _self.departmentVisible
          if $('.drp-department').val() is null
            _self.department = '0'
          else
            _self.department = $('.drp-department option:selected').val()
        filter = /^([a-zA-Z0-9_\.\-])+@.(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,5})+$/
        flag = true
        # flag = if name isnt '' then (if email isnt '' then ( if filter.test(email) then true else false) else false) else false
        if name isnt ''
          if _self.config.start_chat.ask_for_email is '1' && (email is '' || !filter.test(email))
            $('#email-error').show()
            $('#txt-emails').css('border-color', '#CC0000')
            _self.isSendRequest = true
            flag = false
        else
          $('#txt-name').css('border-color', '#CC0000')
          $('#name-error').show()
          _self.isSendRequest = true
          flag = false
        if flag
          _self.visitor.name = name
          _self.inChat(name)
          _self.sendRequestFromWidget(name, email, question)
          _self.showTab('MessageChatTab')
          _self.showToggle('MessageChatTab')
          $('#def-chat').show()
          $('#txt-name').val('')
          $('#txt-emails').val('')
          $('#txt-question').val('')

    $(document).on 'click', '#message-send', ->
      $('#con-chat').show()
      val = $.trim($('.mess-input').val())
      if val isnt ''
        _self.sendMessageFromVisitor(val)
        $('.mess-input').val('')

    $('.mess-input').keypress (e) ->
      _self.typingChecking()
      if e.keyCode is 13
        $('#con-chat').show()
        val = $.trim($(this).val())
        if val isnt ''
          _self.sendMessageFromVisitor(val)
          $('.mess-input').val('')
        _self.removeTyping()
        return false

    $('.mess-input').blur ->
      _self.removeTyping()

    $(document).on 'click', '#btn-send-email', ->
      $('#email2-error').hide()
      $('#question2-error').hide()
      $('#no-operator-name').css('border-color', '')
      $('#no-operator-emails').css('border-color', '')
      $('#no-operator-question').css('border-color', '')
      name = $.trim($('#no-operator-name').val())
      email = $.trim($('#no-operator-emails').val())
      question = $.trim($('#no-operator-question').val())
      filter = /^[+a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/
      if name isnt '' && email isnt '' && question isnt ''
        if filter.test(email)
          _self.sendNoOperatorMailRequestFromWidget(name, email, question)
        else
          $('#email2-error').show()
          $('#no-operator-emails').css('border-color', '#CC0000')
      else
        $('#no-operator-name').css('border-color', '#CC0000')
        $('#no-operator-emails').css('border-color', '#CC0000')
        $('#no-operator-question').css('border-color', '#CC0000')
        $('#question2-error').show()

    $(document).on 'click', '#refresh-send-mail', _self.refreshChat

    $(document).on 'click', '#btn-close-chat', ->
      _self.closeChatFromVisitor()

    $(document).on 'click', '#refresh-after-chats', _self.refreshChat

    $(document).on 'click', '.like-chat-dwld', ->
      window.location.href = _self.domain.host + '/chat/download?id=' + _self.chatData.id

  checkContinueChat: ->
    id = localStorage.getItem(KANDY_SHOPIFY_CHAT_ID)
    if id isnt null
      _self.chatData.id = id

  widgetRequest: ->
    jQuery.ajax
      url: _self.domain.host + 'chat/widget'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        chat_id: _self.chatData.id
      success: (res) ->
        _self.chatData = res.chatData
        _self.operators = res.operators

        if _self.chatData.status is 'close'
          localStorage.removeItem(KANDY_SHOPIFY_CHAT_ID)
          location.reload()

        if _self.chatData.user_name
          _self.visitor =
              full_user_id: _self.chatData.full_user_id
              user_name: _self.chatData.user_name
              user_password: _self.chatData.user_password
              user_access_token: _self.chatData.user_access_token

        KandyAPI.loginSSO _self.visitor.user_access_token, ->
          _self.checkOperatorAvaliableAndBindWidget()
        , (e) ->
          console.log(e)
        , _self.visitor.user_password

  checkOperatorAvaliableAndBindWidget: ->
    if _self.checkOperatorAvaliableId
      clearInterval(_self.checkOperatorAvaliableId)
    _self.checkOperatorAvaliableId = _self.checkOperatorAvaliable()

    _self.bindWidget()

  checkOperatorAvaliable: (delay)->
    delay = 15*1000 unless delay
    setInterval ->
      jQuery.ajax
        url: _self.domain.host + 'chat/online'
        type: 'GET'
        data:
          id: _self.domain.id
        dataType: 'json'
        success: (res) ->
          if res.online isnt _self.chatData.online
            _self.chatData.online = res.online
            if res.online
              $('.no-operator-msg-div').remove()
            else
              $('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>');
              $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight);
    , delay

  sendRequestFromWidget: (name, email, question) ->
    _self.isSendRequest = false
    jQuery.ajax
      url: _self.domain.host + 'chat/request'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        name: name
        email: email
        full_user_id: _self.visitor.full_user_id
        user_name: _self.visitor.user_name
        user_password: _self.visitor.user_password
        user_access_token: _self.visitor.user_access_token
        location: _self.location
      success: (res) ->
        _self.chatData = res

        localStorage.setItem(KANDY_SHOPIFY_CHAT_ID, res.id)

        if _self.checkingOperatorAvailable
          clearInterval(_self.checkingOperatorAvailable)
          _self.checkingOperatorAvailable = undefined
        _self.checkingOperatorAvailable = _self.checkOperatorAvaliable()

        if question && question isnt ''
          message =
            id: res.id
            text: question
            display_name: _self.chatData.title
            type: 'v'
            timestamp: new Date().getTime()

          _self.chatData.messages.push(message)
          _self.displayMessage(message)
          $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
          _self.saveMessage(message)

        _self.sendNotifyNewChatToOperator(_self.chatData)

        $('#con-chat').show()
        $('#operator-img-div').show()
        $('#def-chat').css('min-height', '40px')
        $('#img-typing').hide()
        _self.chatContent()

        unless res.online
          $('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>')
          $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)

  sendNotifyNewChatToOperator: (conversation) ->
    json = conversation
    json.cmd = 'new_chat'
    json.domain_id = _self.domain.id
    json.location = _self.location

    for o in _self.operators
      KandyAPI.messaging.sendJSON o.username, json, undefined, (msg) ->
        console.log (msg)

  sendMessageFromVisitor: (msg) ->
    if !_self.chatData.id || _self.isSendRequest
      _self.sendRequestFromWidget('anonymous', '', msg)
    else
      message =
        id: _self.chatData.id
        cmd: 'new_message'
        type: 'v'
        display_name: _self.chatData.title
        text: msg
        timestamp: new Date().getTime()

      for o in _self.operators
        KandyAPI.messaging.sendJSON  o.username, message, undefined, (msg) ->
          _self.displayErrorMessage(msg)

      _self.displayMessage(message)
      $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
      _self.saveMessage(message)

  saveMessage: (msg) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/save'
      type: 'post'
      dataType: 'json'
      data:
        id: _self.chatData.id
        message: msg
      success: ->

  typingChecking: ->
    # TODO send to server

  removeTyping: ->
    # TODO: send to server

  ratingFromVisitor: (val) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/rating'
      type: 'POST'
      dataType: 'json'
      data:
        chat_id: _self.chatData.id
        rating: val

  closeChatFromVisitor: ->
    if _self.chatData.id
      jQuery.ajax
        url: _self.domain.host + 'chat/close'
        type: 'POST'
        dataType: 'json'
        data:
          id: _self.chatData.id
        success: () ->
          message =
            cmd: 'notify_close_chat'
            id: _self.chatData.id
            display_name: _self.chatData.title
            type: 'v'
            is_closed: true
            text: "#{_self.chatData.title} #{_self.config.in_chat.closed_chat}"
            timestamp: new Date().getTime()

          for o in _self.operators
            KandyAPI.messaging.sendJSON o.username, message, undefined, (msg) ->
              _self.displayErrorMessage(msg)

          _self.saveMessage(message)
          _self.handlers.notifyCloseChat()

  sendNoOperatorMailRequestFromWidget: (name, email, question) ->
    jQuery.ajax
      url: _self.domain.host + 'chat/send-mail'
      type: 'POST'
      dataType: 'json'
      data:
        id: _self.domain.id
        name: name
        email: email
        question: question
      success: ->
        $('#no-operator-name').val('')
        $('#no-operator-emails').val('')
        $('#no-operator-question').val('')
        _self.showTab('NoOperatorSuccess')
        _self.showToggle('NoOperatorSuccess')


  getLocationInfo: ->
    # FIXME: host blocked by Adblock
    _self.location = { # dummy
      'ip': ''
      'country_code': ''
      'country_name': ''
      'region_code': ''
      'region_name': ''
      'city': ''
      'zip_code': ''
      'time_zone': ''
      'latitude': 0
      'longitude': 0
      'metro_code': 0
    }
    jQuery.ajax
      url: 'https://freegeoip.net/json/'
      type: 'GET'
      dataType: 'jsonp'
      async: false
      success: (location) ->
        _self.location = location

  sendRequest: ->
    if _self.isSendRequest
      if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
          _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
        if _self.chatData.online
          if !_self.chatData.id || _self.chatData.id is ''
            _self.inChat('anonymous')
            _self.displayStartMessage()
            #_self.sendRequestFromWidget()
            _self.showToggle('MessageChatTab')
            _self.showTab('MessageChatTab')
        else
          if !_self.chatData.id || _self.chatData.id is ''
            _self.noOperators()
    else
      _self.showToggle('MessageChatTab')

  refreshChat: ->
    localStorage.removeItem(KANDY_SHOPIFY_CHAT_ID)

    if _self.checkingOperatorAvailable
      clearInterval(_self.checkingOperatorAvailable)
      _self.checkingOperatorAvailable = undefined

    _self.chatData =
      messages: []
      online: _self.chatData.online
    _self.isSendRequest = true
    $('#chat-msgs').empty()
    $('#operator-img-div').show()
    if _self.chatData.online
      if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
          _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
        _self.showTab('MessageChatTab')
        _self.hideToggle('MessageChatTab')
      else
        _self.showTab('StartChatTab')
        _self.hideToggle('StartChatTab')
      _self.hideChatable()
    else
      _self.hideToggle('NoOperatorTab')
      _self.hideChatable()
      _self.noOperators()

  renderWidget: ->
    $('body').append """
    <div id='kandy-live-widget' data-position='#{_self.config.collapse.position}' class='animate chat-window'>
      <div id='start-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-start-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='start-head' class='header-text collapse-start-chat'></td>
              <td class='header-btn minimize-btn#{_self.config.collapse.show_widget_hide_button}'>
                <a style='padding-left: 5px;'>
                  <img id='minimize' class='btn-img' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/minus.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 5px;' class='collapse-start-chat'>
                  <img id='minimize' class='btn-img start-chat-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='name-box'>
              <td colspan='2' style='padding:0;'>
                <div class='name-messages'>
                  <h4 class='title-info' id='lbl-intro'></h4>
                  <input id='txt-name' class='name-input' style=''>
                  <div class='error-message' id='name-error' style=''></div>
                  <input id='txt-emails' class='name-input'>
                  <div class='error-message' id='email-error' style=''></div>
                  <select class='name-input drp-department' style='height: 32px;width: 90%;'></select>
                  <textarea id='txt-question' class='question-input'></textarea>
                  <div class='error-message' id='question-error' style=''></div>
                  <center>
                    <button class='btn-send-req' id='send-request'>
                      <a id='send-req-text' style='text-decoration:none;color:white;padding: 0px 10px;'></a>
                    </button>
                  </center>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-start-chat' src='' style='display:none !important;'>
        <div id='spinner-region' class='global-spinner' style='display: none;'>
          <div class='spinner-loader'></div>
        </div>
      </div>
      <div id='no-operator' class='chat-window  ' style='display: none;'>
        <img class='chat-img top-img collapse-no-operator' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='no-operator-head' class='header-text collapse-no-operator'></td>
              <td class='header-btn minimize-btn#{_self.config.collapse.show_widget_hide_button}'>
                <a style='padding-left: 5px;'>
                  <img id='minimize' class='btn-img' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/minus.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 5px;' class='collapse-no-operator'>
                  <img id='maxmizes' class='btn-img no-operator-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='no-operator-box'>
              <td colspan='3' style='padding:0;'>
                <div class='name-messages' style='padding:5px;'>
                  <label id='lbl-email-intro'></label>
                  <input id='no-operator-name' class='name-input' placeholder='#{_self.config.no_operators.name}'>
                  <div class='error-message' id='name2-error' style=''></div>
                  <input id='no-operator-emails' class='name-input' placeholder='#{_self.config.no_operators.email}'>
                  <div class='error-message' id='email2-error' style=''></div>
                  <textarea id='no-operator-question' class='question-input' placeholder='#{_self.config.no_operators.question}'></textarea>
                  <div class='error-message' id='question2-error' style='display:none;'></div>
                  <center>
                    <button id='btn-send-email'>
                      <a id='send-no-operator-text' style='text-decoration:none;color:white;'></a>
                    </button>
                  </center>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-no-operator' src='' style='display:none !important;'>
      </div>
      <div id='no-operator-sent' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-no-operator-success' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='no-operator-sent-head' class='header-text collapse-no-operator-success'>#{_self.config.no_operators.title}</td>
              <td id='no-operator-refresh' class='header-btn'>
                <a id='refresh-send-mail'>
                  <img style='width: 32px;' class='btn-img' src='<%= asset_url('icons/refresh.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 4px;' class='collapse-no-operator-success'>
                  <img id='' class='btn-img no-operator-success-btn-mini' style='margin:auto;vertical-align: middle;' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='no-operator-send-mail-box'>
              <td colspan='3' style='padding:0;'>
                <div class='name-messages' style='height: 75px;padding:10px;'>
                  <label id='lbl-email-sent'>#{_self.config.no_operators.email_sent_text}</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-no-operator-success' src='' style='display:none !important;'>
      </div>
      <div id='in-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-message-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='in-chat-head' class='send-req collapse-message-chat'>#{_self.config.start_chat.title}</td>
              <td class='header-btn chat-box'>
                <a style='padding-left: 4px;' class='collapse-message-chat'>
                  <img class='btn-img message-chat-btn-mini' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
              <td class='header-btn close-button'>
                <a id='btn-close-chat'>
                  <img style='width: 15px;' class='btn-img' src='<%= asset_url('icons/close.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='message-box'>
              <td colspan='3' style='padding:0;'>
                <div id='operator-img-div' class='name-messages' style='height: 56px;overflow: hidden;border-bottom: 5px solid #dcdcdc;display:none'>
                  <div style='float:left;'>
                    <div style='float:left;'>
                      <img id='operator-profile-img' style='height: 40px;width: 40px;margin: 8px;' src='<%= asset_url('icons/customer_support-128.png') %>'>
                    </div>
                    <div style='float:left;'>
                      <div id='operator-name' style='font-size: 20px;font-weight: bold;line-height: 1.5em;'></div>
                      <div id='operator-role' style='font-size:14px;'></div>
                    </div>
                  </div>
                  <div style='float: right;margin-top: 5%;margin-right: 2%;'>
                    <div class='chat-box-control'>
                      <img class='chat-control active' id='chat-switch' style='margin-top: 4%;'>
                      |
                      <img class='chat-control' id='video-call-switch'>
                    </div>
                  </div>
                </div>
                <div id='def-chat' class='name-messages' style='min-height: 2px;'></div>
                <div id='con-chat' class='name-messages' style='min-height: 220px;max-height: 220px; border-bottom: white;border-top: none; word-break: break-all;overflow-y: auto; display:block!important;'>
                  <div class='messages'>
                    <div id='chat-msgs'></div>
                    <div id='in-call' style='display:none'>
                      <div class='video' id='incoming-video'>
                        <video width='100%' height='100%' autoplay></video>
                      </div>
                      <div class='video' id='outgoing-video'>
                        <video width='100%' height='100%' autoplay></video>
                      </div>
                    </div>
                    <div id='make-call' style='display:none'>
                      <select id="make-call-operator-selector"></select>
                      <div class="controls" style="text-align: center;">
                        <label id="make-call-start-with-video-label">
                          <input type="checkbox" id="make-call-start-with-video-checkbox"> Video enabled
                        </label>
                        <button class='call-btn'>Call</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div id='img-typing' class='name-messages' style='border-top-color: white; display: none;'></div>
                <div id='chat-control' class='name-messages send-mess' style='border-top-width:5px;'>
                  <textarea id='send-msg-text' style='max-width:225px; float:left' class='mess-input' rows='2' placeholder='#{_self.config.in_chat.send_message}'></textarea>
                  <a href='javascript:void(0)'>
                    <img id='message-send' src='<%= asset_url('icons/send.png') %>' style='margin-top: 8%;float:left;'>
                  </a>
                </div>
                <div id='incoming-call-control' class='name-messages send-mess' style='border-top-width:5px;display:none'>
                  <div class='operator-name'>letranloc is calling...</div>
                  <div class='controls'>
                    <label>
                      <input type="checkbox" id="start-with-video-checkbox"> Video enabled
                    </label>
                    <button class='answer-btn'>Answer</button>
                    <button class='reject-btn'>Reject</button>
                  </div>
                </div>
                <div id='in-call-control' class='name-messages send-mess' style='border-top-width:5px;display:none'>
                  <div class='operator-name'></div>
                  <button class='end-btn'>End</button>
                  <button class='hold-btn'>Hold</button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-message-chat' src='' style='display:none !important;'>
      </div>
      <div id='close-chat' class='chat-window' style='display: none;'>
        <img class='chat-img top-img collapse-close-chat' src='' style='display:block !important;'>
        <table class='chattable' style='width: 300px;'>
          <tbody>
            <tr class='chattable-raw'>
              <td id='close-head' class='header-text collapse-close-chat'></td>
              <td id='cls-chat-refresh' class='header-btn'>
                <a id='refresh-after-chats'>
                  <img style='width: 32px;height: 32px;' class='btn-img refresh-cls-chats' src='<%= asset_url('icons/refresh.png') %>'>
                </a>
              </td>
              <td class='header-btn'>
                <a style='padding-left: 4px;' class='collapse-close-chat'>
                  <img style='margin-bottom: 1px; margin:auto; vertical-align: middle;' class='btn-img close-chat-btn-mini' src='<%= asset_url('icons/plus.png') %>'>
                </a>
              </td>
            </tr>
            <tr id='close-box'>
              <td colspan='3' style='padding:0;'>
                <div class='name-messages' style="text-align: center">
                  <p class='cls-chat-msg'></p>
                  <div id='cls-chat-rating'>
                  </div>
                  <br>
                  <p style='text-align: center; padding: 0px;'>
                    <a class='like-chat-dwld' style='cursor: pointer;font-family:Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif !important;'></a>
                  </p>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <img class='chat-img bottom-img collapse-close-chat' src='' style='display:none !important;'>
      </div>
      <div id='spinner-region' class='global-spinner' style='display: none;'>
        <div class='spinner-loader' style='top: 45%; left: 49%;'></div>
      </div>
    </div>
    """

    $('#start-chat').hide()
    $('#in-chat').hide()
    $('#close-chat').hide()
    $('#no-operator').hide()
    $('#no-operator-sent').hide()
    $('#img-typing').hide()

    wi = $(window).width()
    if wi <= 370
      $('.chattable').css('width', wi)
    else
      $('.chattable').css('width', '300px')

    $(window).resize ->
      wi = $(window).width()
      if wi <= 370
        $('.chattable').css('width', wi)
      else
        $('.chattable').css('width', '300px')

    $(document).on 'click', '.minimize-btn1', ->
        $('#start-chat, #no-operator').addClass('minimize')

    $(document).on 'click', '.collapse-start-chat', ->
      if $('#start-chat').hasClass('minimize')
        $('#start-chat, #no-operator').removeClass('minimize')
      else
        img = $('.start-chat-btn-mini')[0].src

        if img.indexOf('minus') > -1
          _self.hideChatable('.start-chat-btn-mini')
          _self.hideToggle('StartChatTab')
        else
          _self.showChatable('.start-chat-btn-mini')
          _self.showToggle('StartChatTab')

    $(document).on 'click', '.collapse-message-chat', ->
      img = $('.message-chat-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.message-chat-btn-mini')
        _self.hideToggle('MessageChatTab')
      else
        _self.showChatable('.message-chat-btn-mini')
        _self.sendRequest()

    $(document).on 'click', '.collapse-close-chat', ->
      img = $('.close-chat-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.close-chat-btn-mini')
        _self.hideToggle('CloseChatTab')
      else
        _self.showChatable('.close-chat-btn-mini')
        _self.showToggle('CloseChatTab')

    $(document).on 'click', '.collapse-no-operator', ->
      if $('#no-operator').hasClass('minimize')
        $('#start-chat, #no-operator').removeClass('minimize')
      else
        img = $('.no-operator-btn-mini')[0].src

        if img.indexOf('minus') > -1
          _self.hideChatable('.no-operator-btn-mini')
          _self.hideToggle('NoOperatorTab')
        else
          _self.showChatable('.no-operator-btn-mini')
          _self.showToggle('NoOperatorTab')

    $(document).on 'click', '.collapse-no-operator-success', ->
      img = $('.no-operator-success-btn-mini')[0].src

      if img.indexOf('minus') > -1
        _self.hideChatable('.no-operator-success-btn-mini')
        _self.hideToggle('NoOperatorSuccess')
      else
        _self.showChatable('.no-operator-success-btn-mini')
        _self.showToggle('NoOperatorSuccess')

    $(document).on 'click', '#incoming-call-control .answer-btn', ->
      videoEnabled = $('#start-with-video-checkbox').prop('checked')
      KandyAPI.call.answerCall(_self.callId, videoEnabled)

    $(document).on 'click', '#incoming-call-control .reject-btn', ->
      KandyAPI.call.rejectCall(_self.callId)

    $(document).on 'click', '#in-call-control .end-btn', ->
      KandyAPI.call.endCall(_self.callId)

    $(document).on 'click', '#-call-control .hold-btn', ->
      if $(this).text() == 'Hold'
        KandyAPI.call.holdCall(_self.callId)
        $(this).text('Resume')
      else
        KandyAPI.call.unHoldCall(_self.callId)

    $(document).on 'click', '#chat-switch', ->
      $('#in-call').hide()
      $('#chat-msgs').show()
      $('#make-call').hide()
      $('#chat-control').show()
      $('#in-call-control').hide()
      $('#chat-switch').addClass('active')
      $('#video-call-switch').removeClass('active')
      $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)

    $(document).on 'click', '#video-call-switch', ->
      if _self.chatData.operators.length
        $('#chat-msgs').hide()
        $('#chat-control').hide()
        $('#chat-switch').removeClass('active')
        $('#video-call-switch').addClass('active')
        if _self.callId
          $('#in-call').show()
          $('#in-call-control').show()
        else
          $('#make-call-operator-selector').html('')
          for o in _self.chatData.operators
            $('#make-call-operator-selector').append """
              <option value="#{o.username}">#{o.display_name}</option>
            """
          $('#make-call').show()

    $(document).on 'click', '.call-btn', ->
      operator = $('#make-call-operator-selector :selected').val()
      startWithVideo = $('#make-call-start-with-video-checkbox').prop('checked')
      KandyAPI.call.makeCall(operator, startWithVideo)
      _self.callingOperator =
        username: operator
        display_name: $('#make-call-operator-selector :selected').text()

    unless _self.kandyVideoCallEnabled
      $('#incoming-call-control label').hide()
      $('#make-call-start-with-video-label').hide()

    # Create audio objects to play incoming calls and outgoing calls sound
    _self.audioRingIn = $('<audio>', { loop: 'loop', id: 'ring-in' })
    _self.audioRingOut = $('<audio>', { loop: 'loop', id: 'ring-out' })

    # Load audio source to DOM to indicate call events
    audioSource =
      ringIn: [
        { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringin.mp3', type: 'audio/mp3' }
        { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringin.ogg', type: 'audio/ogg' }
      ]
      ringOut: [
        { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringout.mp3', type: 'audio/mp3' }
        { src: 'https://kandy-portal.s3.amazonaws.com/public/sounds/ringout.ogg', type: 'audio/ogg' }
      ]

    audioSource.ringIn.forEach (entry) ->
      source = $('<source>').attr('src', entry.src)
      _self.audioRingIn.append(source)

    audioSource.ringOut.forEach (entry) ->
      source = $('<source>').attr('src', entry.src)
      _self.audioRingOut.append(source)

  hideChatable: (bar) ->
    $(bar).attr('src', '<%= asset_url('icons/plus.png') %>') if bar isnt undefined
    $('.minimize-btn1').show()
    $('.chattable').hide() if _self.config.collapse.type is 'i'
    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      $('.top-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
    else
      $('.bottom-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'

  showChatable: (bar) ->
    $(bar).attr('src', '<%= asset_url('icons/minus.png') %>')  if bar isnt undefined
    $('.minimize-btn1').hide()
    $('.chattable').show() if _self.config.collapse.type is 'i'
    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      $('.top-img').hide() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
    else
      $('.bottom-img').hide() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'

  showToggle: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        $('#message-box').toggle('fast') unless  _self.flagInChat
        $('#name-box').toggle('fast') if _self.flagStartChat
        $('#close-box').toggle('fast') if _self.flagCloseChat
        $('#no-operator-box').toggle('fast') if _self.flagNoOperator
        $('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        $('.message-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = true
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'StartChatTab'
        $('#message-box').toggle('fast') if _self.flagInChat
        $('#name-box').toggle('fast') unless  _self.flagStartChat
        $('#close-box').toggle('fast') if _self.flagCloseChat
        $('#no-operator-box').toggle('fast') if _self.flagNoOperator
        $('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        $('.start-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        $('#start-head').text(_self.config.start_chat.title)
        _self.flagInChat = false
        _self.flagStartChat = true
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'CloseChatTab'
        $('#message-box').toggle('fast') if _self.flagInChat
        $('#name-box').toggle('fast') if  _self.flagStartChat
        $('#close-box').toggle('fast') unless _self.flagCloseChat
        $('#no-operator-box').toggle('fast') if _self.flagNoOperator
        $('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        $('.close-chat-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = true
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = false
      when 'NoOperatorTab'
        $('#message-box').toggle('fast') if _self.flagInChat
        $('#name-box').toggle('fast') if  _self.flagStartChat
        $('#close-box').toggle('fast') if _self.flagCloseChat
        $('#no-operator-box').toggle('fast') unless _self.flagNoOperator
        $('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        $('.no-operator-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = true
        _self.flagNoOperatorSuccess = false
      when 'NoOperatorSuccess'
        $('#message-box').toggle('fast') if _self.flagInChat
        $('#name-box').toggle('fast') if  _self.flagStartChat
        $('#close-box').toggle('fast') if _self.flagCloseChat
        $('#no-operator-box').toggle('fast') if _self.flagNoOperator
        $('#no-operator-send-mail-box').toggle('fast') unless _self.flagNoOperatorSuccess
        $('.no-operator-success-btn-mini').attr('src', '<%= asset_url('icons/minus.png') %>')
        _self.flagInChat = false
        _self.flagStartChat = false
        _self.flagCloseChat = false
        _self.flagNoOperator = false
        _self.flagNoOperatorSuccess = true

  hideToggle: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        $('#message-box').toggle('fast') if _self.flagInChat
        $('.message-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagInChat = false
      when 'StartChatTab'
        $('#name-box').toggle('fast') if _self.flagStartChat
        $('.start-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        $('#start-head').text(_self.config.collapse.title)
        _self.flagStartChat = false
      when 'CloseChatTab'
        $('#close-box').toggle('fast') if _self.flagCloseChat
        $('.close-chat-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagCloseChat = false
      when 'NoOperatorTab'
        $('#no-operator-box').toggle('fast') if _self.flagNoOperator
        $('.no-operator-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagNoOperator = false
      when 'NoOperatorSuccess'
        $('#no-operator-send-mail-box').toggle('fast') if _self.flagNoOperatorSuccess
        $('.no-operator-success-btn-mini').attr('src', '<%= asset_url('icons/plus.png') %>')
        _self.flagNoOperatorSuccess = false

  bindWidget: ->
    $('#def-chat').empty()
    $('#chat-msgs').empty()

    $('.top-img').hide()
    $('.bottom-img').hide()

    $('#name-box').hide()
    $('#message-box').hide()
    $('#close-box').hide()
    $('#no-operator-box').hide()
    $('#no-operator-send-mail-box').hide()

    _self.setPosition()
    _self.startChat()
    _self.closeChat()
    _self.setImgPosition()
    _self.widgetAnimate()

    if _self.config.enabled
      $('.chattable-raw').attr('style', 'background: ' + _self.config.color + ' !important')
      $('.btn-send-req').attr('style', 'background: ' + _self.config.color + ' !important')
      $('#btn-send-email').attr('style', 'background: ' + _self.config.color + ' !important')
      $('.send-mess').css('border-top-color', _self.config.color + ' !important')
      $('.header-text').attr('style', 'background: ' + _self.config.color + ' !important')
      $('.header-btn').attr('style', 'background: ' + _self.config.color + ' !important')
      $('#in-chat-head').attr('style', 'background: ' + _self.config.color + ' !important')
      $('#message-send').attr('style', 'background: ' + _self.config.color + ' !important')

    if _self.chatData.id && _self.chatData.id isnt ''
      if _self.chatData.rating is 'like'
        $('#chat-likes').attr('src', '<%= asset_url('icons/thumbg.svg') %>')
        $('.chat-likes').removeAttr('id')
      else if _self.chatData.rating is 'dislike'
        $('#chat-dislikes').attr('src', '<%= asset_url('icons/thumbr.svg') %>')
        $('.chat-dislikes').removeAttr('id')

      if _self.chatData.operators && _self.chatData.operators.length
        op = _self.chatData.operators[0]
        $('#operator-img-div').show()
        if !op.display_name || op.display_name is ''
          $('#operator-name').text('')
          $('#in-chat-head').text(_self.config.start_chat.title)
        else
          $('#operator-name').text(op.display_name)
          $('#in-chat-head').text("#{_self.config.in_chat.title} #{op.display_name}")

        if !op.avatar || op.avatar is ''
          $('#operator-profile-img').attr('src', '<%= asset_url('avatars/avatar-operator.png') %>')
        else
          $('#operator-profile-img').attr('src', op.avatar)

        if !op.role || op.role is ''
          $('#operator-role').text('')
        else
          $('#operator-role').text(op.role)

      flag = true
      for m in _self.chatData.messages
        if m.type isnt 'v'
          flag = false
          break
      if flag
        _self.inChat(_self.chatData.name)

      _self.chatContent()
      _self.isSendRequest = false
      _self.showTab('MessageChatTab')
      _self.showToggle('MessageChatTab')
      $('.chattable').show()
      $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
      $('.top-img').hide()
      $('.bottom-img').hide()
      unless _self.chatData.online
        $('#chat-msgs').append('<div class=\'in-chat-msg no-operator-msg-div\'>' + _self.config.in_chat.no_operators + '</div>')
        $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)
    else
      if _self.chatData.online
        if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
          $('.top-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
        else
          $('.bottom-img').show() if _self.config.collapse.type is 'i' || _self.config.collapse.type is 'ti'
        $('.chattable').hide() if _self.config.collapse.type is 'i'
        if _self.config.start_chat.ask_for_name is '0' && _self.config.start_chat.ask_for_email is '0' &&
            _self.config.start_chat.ask_for_question is '0' && _self.config.start_chat.ask_for_department is '0'
          _self.showTab('MessageChatTab')
        else
          _self.showTab('StartChatTab')
      else
        _self.noOperators()

  showTab: (CurrentTab) ->
    switch (CurrentTab)
      when 'MessageChatTab'
        $('#start-chat').hide()
        $('#in-chat').show()
        $('#close-chat').hide()
        $('#no-operator').hide()
        $('#no-operator-sent').hide()
      when 'StartChatTab'
        $('#start-chat').show()
        $('#in-chat').hide()
        $('#close-chat').hide()
        $('#no-operator').hide()
        $('#no-operator-sent').hide()
      when 'CloseChatTab'
        $('#start-chat').hide()
        $('#in-chat').hide()
        $('#close-chat').show()
        $('#no-operator').hide()
        $('#no-operator-sent').hide()
      when 'NoOperatorTab'
        $('#start-chat').hide()
        $('#in-chat').hide()
        $('#close-chat').hide()
        $('#no-operator').show()
        $('#no-operator-sent').hide()
      when 'NoOperatorSuccess'
        $('#start-chat').hide()
        $('#in-chat').hide()
        $('#close-chat').hide()
        $('#no-operator').hide()
        $('#no-operator-sent').show()
      when 'AllHide'
        $('#start-chat').hide()
        $('#in-chat').hide()
        $('#close-chat').hide()
        $('#no-operator').hide()
        $('#no-operator-sent').hide()

  setPosition: ->
    if _self.config.collapse.position is 'bl'
      $('.chat-window').css
        'bottom': '0'
        'left': '10px'
        'top': ''
        'right': ''
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          $('.top-img').show()
          $('.bottom-img').hide()
          $('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').show()
            $('.bottom-img').hide()
            $('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          $('.top-img').show()
          $('.bottom-img').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').show()
            $('.bottom-img').hide()
    else if _self.config.collapse.position is 'br'
      $('.chat-window').css
        'bottom': '0'
        'left': ''
        'top': ''
        'right': '10px'
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          $('.top-img').show()
          $('.bottom-img').hide()
          $('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').show()
            $('.bottom-img').hide()
            $('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          $('.top-img').show()
          $('.bottom-img').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').show()
            $('.bottom-img').hide()
    else if _self.config.collapse.position is 'tl'
      $('.chat-window').css
        'bottom': ''
        'left': '10px'
        'top': '0'
        'right': ''
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt '0'
          $('.top-img').hide()
          $('.bottom-img').show()
          $('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').hide()
            $('.bottom-img').show()
            $('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt '0'
          $('.top-img').hide()
          $('.bottom-img').show()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').hide()
            $('.bottom-img').show()
    else if _self.config.collapse.position is 'tr'
      $('.chat-window').css
        'bottom': ''
        'left': ''
        'top': '0'
        'right': '10px'
        'position': 'fixed'
        'z-index': '999'
      if _self.config.collapse.type is 'i'
        if _self.config.collapse.image isnt 0
          $('.top-img').hide()
          $('.bottom-img').show()
          $('.chattable').hide()
        else
          if _self.config.collapse.custom_image_url isnt ''
            $('.top-img').hide()
            $('.bottom-img').show()
            $('.chattable').hide()
      else if _self.config.collapse.type is 'ti'
        if _self.config.collapse.image isnt 0
          $('.top-img').hide()
          $('.bottom-img').show()
        else
          if _self.config.collapse.custom_image_url
            $('.top-img').hide()
            $('.bottom-img').show()

  startChat: ->
    _self.showTab('StartChatTab')

    $('#start-head').text(_self.config.collapse.title)
    $('#lbl-intro').text(_self.config.start_chat.intro_text)
    $('#txt-name').attr('placeholder', _self.config.start_chat.ask_for_name_text)
    $('#txt-emails').attr('placeholder', _self.config.start_chat.ask_for_email_text)
    $('#txt-question').attr('placeholder', _self.config.start_chat.ask_for_question_text)
    $('#send-req-text').text(_self.config.start_chat.request_button)

    $('#name-error').text(_self.config.error_messages.name_required)
    $('#name2-error').text(_self.config.error_messages.name_required)
    $('#email-error').text(_self.config.error_messages.email_valid)
    $('#email2-error').text(_self.config.error_messages.email_valid)
    $('#question2-error').text(_self.config.error_messages.no_operator_required)

    $('#name-error').hide()
    $('#email-error').hide()
    $('#email2-error').hide()
    $('#name2-error').hide()
    $('#question2-error').hide()


    if _self.config.start_chat.ask_for_name is '1'
      $('#txt-name').show()
    else
      $('#txt-name').hide()

    if _self.config.start_chat.ask_for_email is '1'
      $('#txt-emails').show()
    else
      $('#txt-emails').hide()

    if _self.config.start_chat.ask_for_question is '1'
      $('#txt-question').show()
      $('#lbl-msg').show()
    else
      $('#txt-question').hide()
      $('#lbl-msg').hide()

    if _self.config.start_chat.ask_for_department is '1'
      if $('.drp-department').val()
        _self.departmentVisible = true
        $('.drp-department').show()
      else
        _self.departmentVisible = false
        $('.drp-department').hide()
    else
      _self.departmentVisible = false
      $('.drp-department').hide()

  noOperators: ->
    $('#no-operator-head').text(_self.config.no_operators.title)
    if _self.config.no_operators.action is 'h'
      _self.showTab('AllHide')
    else if _self.config.no_operators.action is 'm'
      _self.showTab('NoOperatorTab')
      $('#lbl-email-intro').text(_self.config.no_operators.message)
      $('#no-operator-name').hide()
      $('#no-operator-emails').hide()
      $('#no-operator-question').hide()
      $('#btn-send-email').hide()
    else if _self.config.no_operators.action is 'e'
      _self.showTab('NoOperatorTab');
      $('#lbl-email-intro').text(_self.config.no_operators.email_intro)
      $('#no-operator-name').show()
      $('#no-operator-emails').show()
      $('#nno-operator-question').show()
      $('#btn-send-email').show()

    $('#no-operator-name').attr('placeholder', _self.config.no_operators.your_name)
    $('#no-operator-emails').attr('placeholder', _self.config.no_operators.your_email)
    $('#no-operator-question').attr('placeholder', _self.config.no_operators.your_question)
    $('#lbl-email-sent').text(_self.config.no_operators.email_sent_text)
    $('#send-no-operator-text').text(_self.config.no_operators.send_button)

  inChat: (visitorName)->
    $('#con-chat').hide()
    $('#def-chat').show()
    $('#def-chat').append('<label>' + _self.config.in_chat.greeting + ' ' + visitorName + '!</label>')
    $('#def-chat').append('<label>' + _self.config.in_chat.connecting + '</label>')
    setTimeout ->
      $('#def-chat').empty();
      $('#def-chat').append('<div style=\'margin-top: 4%;\'><img src=\'<%= asset_url('icons/50-20.png') %>\'/><span style=\'margin-left: 4%;\' id=\'no-operator-msg\' class=\'in-chat-msg\' >' + _self.config.in_chat.message + '</span></div >')
    , 1200

  closeChat: ->
    if _self.config.chat_close.ask_for_rating is '1'
      $('#cls-chat-rating').show()
    else
      $('#cls-chat-rating').hide()

    if _self.config.chat_close.custom_link_button is '1'
      $('#btn-text').show()
    else
      $('#btn-text').hide()

    $('#close-head').text(_self.config.chat_close.title);
    $('.cls-chat-msg').text(_self.config.chat_close.chat_closed);
    $('#btn-text').text(_self.config.chat_close.button_text);
    if _self.config.chat_close.downloadable is '1'
      $('.like-chat-dwld').text(_self.config.chat_close.download);
    else
      $('.like-chat-dwld').hide()

  chatContent: ->
    $('#chat-msgs').empty()
    _self.displayStartMessage()
    if _self.chatData.messages
      if _self.chatData.messages.length > 0
        for m in _self.chatData.messages
          _self.displayMessage(m)
        $('#con-chat').scrollTop($('#con-chat')[0].scrollHeight)

  displayStartMessage: ->
    text = _self.config.in_chat.start_message
    if text && text isnt ''
      time = new Date().toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'})
      $('#chat-msgs').append('<div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'>' + text + '<label class=\'left-time\'>' + time + '</label></span><div class=\'clear\'></div></div>')
      #$('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')

  displayMessage: (message) ->
    DateTime = new Date(Number(message.timestamp))
    Time = DateTime.toLocaleTimeString(navigator.language, {hour: '2-digit', minute:'2-digit'})

    if message.is_joined || message.is_left
      $('#chat-msgs').append("<div class=\'in-chat-msg\'>#{message.text}</div>")
    else
      if message.type is 'v'
        $('#chat-msgs').append('<div><span class=\'right\' style=\'word-break: break-word;\'>' + message.text + '<label class=\'right-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
      else
        if !message.avatar || message.avatar is ''
          $('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'<%= asset_url('avatars/avatar-operator.png') %>\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'><label><b>' + message.display_name + '</b></label>' + message.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
        else
          $('#chat-msgs').append('<div><div style=\'float: left;height: auto;margin-bottom: 0px;\'><img style=\'width:35px;\' src=\'' + message.avatar + '\'></div><span class=\'left\' style=\'word-break: break-word;background:' + _self.config.color + '\'><label><b>' + message.display_name + '</b></label>' + message.text + '<label class=\'left-time\'>' + Time + '</label></span><div class=\'clear\'></div></div>')
        #$('.left').append('<style>.left:after{border-right: 8px solid' + _self.config.color + '}</style>')


  displayErrorMessage: (m) ->
    console.log(m)

  setImgPosition: ->
    if _self.config.collapse.image isnt '0'
      $('.chat-img').attr('src', '<%= asset_url('assets/tabimages/TabImg-') %>' + _self.config.collapse.image + '.png')
    else
      if _self.config.collapse.custom_image_url isnt ''
        $('.chat-img').attr('src', _self.config.collapse.custom_image_url)

    $('.chat-img').css('width', '' + _self.config.collapse.scale + '%')
    if _self.config.collapse.image_in_front_of_tab is '0'
      $('.chat-img').css({'position': ''})
      $('.chattable').css({'position': 'relative'})
    else
      $('.chat-img').css({'position': 'relative'})
      $('.chattable').css({'position': ''})

    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'br'
      vertic = 50 - _self.config.collapse.vertical
      $('.chat-img').css('margin-top', '')
      $('.chat-img').css('margin-bottom', '' + vertic + '%')
    else
      vertic = 50 - _self.config.collapse.vertical
      $('.chat-img').css('margin-bottom', '')
      $('.chat-img').css('margin-top', '' + vertic + '%')

    if _self.config.collapse.position is 'bl' || _self.config.collapse.position is 'tl'
      if _self.config.collapse.horizontal > 50
        first = (_self.config.collapse.horizontal * 130) / 50
        second = (first * _self.config.collapse.horizontal) / 100
        third = second - _self.config.collapse.horizontal
        $('.chat-img').css('margin-left', '' + third + '%')
      else if _self.config.collapse.horizontal < 50
        first = _self.config.collapse.horizontal - 52;
        $('.chat-img').css('margin-left', '' + first + '%')
      else
        first = 25;
        $('.chat-img').css('margin-left', '' + first + '%')
    else
      if _self.config.collapse.horizontal > 50
        first = (_self.config.collapse.horizontal * 25) / 50
        second = first - 25
        third = (second * 2)
        fourth = first + third
        $('.chat-img').css('margin-left', '' + fourth + '%')
      else if _self.config.collapse.horizontal < 50
        first = (_self.config.collapse.horizontal * 25) / 50
        second = first - 25
        third = (second * 2)
        fourth = (first + third) * 2
        $('.chat-img').css('margin-left', '' + fourth + '%')
      else
        first = 25
        $('.chat-img').css('margin-left', '' + first + '%')

  widgetAnimate: ->
    if _self.config.collapse.page_load isnt 'none'
      classes = $('.chat-window').attr('class')
      $('.chat-window').removeClass().addClass(_self.config.collapse.page_load + ' animated').one 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', ->
        $(this).removeClass()
        $(this).addClass(classes)