:coffeescript
  window.mainPageTitle = 'Reports'

  ShopifyApp.ready ->
    ShopifyApp.Bar.initialize
      title: window.mainPageTitle
      icon: '/icon.png'
      breadcrumb:
          label: 'Preferences'
          href: "#{preferences_path}"
          target: 'app'
      buttons:
        secondary: [
          label: 'Preferences', href: "#{preferences_url}", target: 'app'
        ]

.panel
  .panel-body
    .row.pad
      .table-responsive
        %table.table.table-hover.table-bordered#report
          %thead
            %tr.active
              %th.center{rowspan: 2} Operator
              %th.center{colspan: 6} Today
              %th.center{colspan: 6} Yesterday
              %th.center{colspan: 6} All Time
          %tbody
            %tr.active
              %td.center
                %i.fa.fa-user
              %td.center
                %i.fa.fa-comments-o
              %td.center 1
              %td.center 2
              %td.center 3
              %td.center 4
              %td.center 5
              %td.center
                %i.fa.fa-comments-o
              %td.center 1
              %td.center 2
              %td.center 3
              %td.center 4
              %td.center 5
              %td.center
                %i.fa.fa-comments-o
              %td.center 1
              %td.center 2
              %td.center 3
              %td.center 4
              %td.center 5
            - @users.each do |u|
              %tr
                %td.center= u.display_name
                %td.center= u.conversations.today.size
                %td.center= u.conversations.today.ratings(1).size
                %td.center= u.conversations.today.ratings(2).size
                %td.center= u.conversations.today.ratings(3).size
                %td.center= u.conversations.today.ratings(4).size
                %td.center= u.conversations.today.ratings(5).size
                %td.center= u.conversations.yesterday.size
                %td.center= u.conversations.yesterday.ratings(1).size
                %td.center= u.conversations.yesterday.ratings(2).size
                %td.center= u.conversations.yesterday.ratings(3).size
                %td.center= u.conversations.yesterday.ratings(4).size
                %td.center= u.conversations.yesterday.ratings(5).size
                %td.center= u.conversations.all.size
                %td.center= u.conversations.all.ratings(1).size
                %td.center= u.conversations.all.ratings(2).size
                %td.center= u.conversations.all.ratings(3).size
                %td.center= u.conversations.all.ratings(4).size
                %td.center= u.conversations.all.ratings(5).size
          %tfoot
            %tr.info
              %td.center Totals
              %td.center= @conversations.today.size
              %td.center= @conversations.today.ratings(1).size
              %td.center= @conversations.today.ratings(2).size
              %td.center= @conversations.today.ratings(3).size
              %td.center= @conversations.today.ratings(4).size
              %td.center= @conversations.today.ratings(5).size
              %td.center= @conversations.yesterday.size
              %td.center= @conversations.yesterday.ratings(1).size
              %td.center= @conversations.yesterday.ratings(2).size
              %td.center= @conversations.yesterday.ratings(3).size
              %td.center= @conversations.yesterday.ratings(4).size
              %td.center= @conversations.yesterday.ratings(5).size
              %td.center= @conversations.all.size
              %td.center= @conversations.all.ratings(1).size
              %td.center= @conversations.all.ratings(2).size
              %td.center= @conversations.all.ratings(3).size
              %td.center= @conversations.all.ratings(4).size
              %td.center= @conversations.all.ratings(5).size
