!!!
%html{lang: "en"}
  %head
    %title Kandy Shopify App
    %script{src: "//cdn.shopify.com/s/assets/external/app.js?#{Time.now.strftime('%Y%m%d%H')}"}
    :coffeescript
      ShopifyApp.init
        apiKey: "#{ShopifyApp.configuration.api_key}"
        shopOrigin: "https://#{@shop_session.url if @shop_session}"
        debug: true

      ShopifyApp.ready ->
        if "#{flash[:notice]}" != ""
          ShopifyApp.flashNotice("#{flash[:notice]}")
        if "#{flash.now[:notice]}" != ""
          ShopifyApp.flashNotice("#{flash.now[:notice]}")
        if "#{flash[:error]}" != ""
          ShopifyApp.flashError("#{flash[:error]}")
        if "#{flash.now[:error]}" != ""
          ShopifyApp.flashError("#{flash.now[:error]}")
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %body
      .container-fluid
        = yield