!!!
%html{lang: "en"}
  %head
    %title Kandy Shopify App
    %link{rel: 'shortcut icon', type: 'image/x-icon', href: 'favicon.ico'}
    %script{src: "//cdn.shopify.com/s/assets/external/app.js?#{Time.now.strftime('%Y%m%d%H')}"}
    :coffeescript
      ShopifyApp.init
        apiKey: "#{ShopifyApp.configuration.api_key}"
        shopOrigin: "https://#{@shop_session.url if @shop_session}"
        debug: true

      ShopifyApp.ready ->
        for e in ["#{flash[:notice]}", "#{flash.now[:notice]}"]
          if e != ""
            ShopifyApp.flashNotice(e)
        for e in ["#{flash[:error]}", "#{flash.now[:error]}", "#{flash[:alert]}", "#{flash.now[:alert]}"]
          if e != ""
            ShopifyApp.flashError(e)

    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %body
      .container-fluid
        = yield